<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${1.85 * size}px`"
		:width="`${4.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${14.65 * size}, ${3.7 * size})`">
			<path
				d="M-11.3 -3.55 L-10.7 -3.7 -10.35 -3.6 -10.25 -3.3 Q-10.25 -3.05 -10.4 -2.9 L-10.95 -2.8 -11.35 -2.9 -11.5 -3.25 -11.3 -3.55 M-14.55 -1.9 L-14.65 -2.2 Q-14.65 -2.65 -14.25 -2.85 L-12.95 -3.1 -12.55 -3.0 -12.45 -2.85 Q-12.45 -2.55 -13.2 -2.2 -13.9 -1.85 -14.25 -1.85 L-14.55 -1.9"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadSpecial0',
	props: {
		size: Number
	}
});
</script>
