<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${7.3 * size}px`"
		:width="`${8.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${19.5 * size}, ${-13.85 * size})`">
			<path
				d="M-18.85 17.05 L-18.85 17.2 -18.75 17.5 -18.75 17.55 -18.7 17.85 -18.65 18.0 -18.35 18.75 Q-17.7 20.1 -16.5 20.1 L-15.9 20.0 -16.9 18.05 -17.15 17.4 -17.25 17.1 -17.35 16.55 -17.35 16.2 -16.9 16.05 -16.3 16.65 -16.15 16.85 -15.9 17.25 -15.5 18.0 -14.25 19.95 -11.95 18.6 -12.45 16.8 -12.45 16.85 -12.65 15.95 -12.8 15.4 -12.8 15.35 -12.85 14.55 Q-12.85 14.05 -12.55 13.85 -10.75 17.05 -10.75 18.6 -10.75 19.4 -12.45 20.25 -14.15 21.15 -15.8 21.15 -17.5 21.15 -18.65 19.45 -19.5 18.25 -19.5 17.45 L-19.45 15.95 -19.05 15.9 -18.85 17.05"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.55 16.6 L-18.3 16.5 -18.85 17.05 -18.55 16.6 M-18.75 17.55 L-18.45 17.65 -17.25 17.1 -17.15 17.4 -18.7 17.85 -18.75 17.55 M-16.3 16.65 L-15.95 16.5 -15.95 16.55 -15.85 16.8 -16.15 16.85 -16.3 16.65 M-15.9 17.25 L-15.6 17.75 -12.4 17.1 -12.45 16.8 -11.95 18.6 -14.25 19.95 -15.5 18.0 -15.9 17.25 M-18.65 18.0 L-18.45 18.4 -18.35 18.4 -16.9 18.05 -15.9 20.0 -16.5 20.1 Q-17.7 20.1 -18.35 18.75 L-18.65 18.0"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.55 16.6 L-17.85 15.9 -17.15 15.45 -15.4 14.7 -15.3 14.7 -14.95 14.6 -13.9 14.5 -13.55 14.5 -12.85 14.55 -12.8 15.35 -12.8 15.4 -12.65 15.95 -12.45 16.85 -12.45 16.8 -12.4 17.1 -15.6 17.75 -15.9 17.25 -16.15 16.85 -15.85 16.8 -15.95 16.55 -15.95 16.5 -16.3 16.65 -16.9 16.05 -17.35 16.2 -17.35 16.55 -17.25 17.1 -18.45 17.65 -18.75 17.55 -18.75 17.5 -18.85 17.2 -18.85 17.05 -18.3 16.5 -18.55 16.6 M-18.65 18.0 L-18.7 17.85 -17.15 17.4 -16.9 18.05 -18.35 18.4 -18.45 18.4 -18.65 18.0"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadSpecial1',
	props: {
		size: Number
	}
});
</script>
