<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${21.75 * size}px`"
		:width="`${32.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.4 * size}, ${10.85 * size})`">
			<path
				d="M4.3 -10.2 L4.75 -9.5 Q4.75 -8.75 3.85 -8.75 0.8 -8.75 0.8 -10.3 0.8 -10.85 2.5 -10.85 3.65 -10.85 4.3 -10.2 M10.3 -5.35 Q10.3 -6.2 11.3 -6.2 12.25 -6.2 12.25 -5.35 12.25 -4.55 11.3 -4.55 10.15 -4.55 10.3 -5.35 M10.15 -0.05 Q9.4 -0.05 9.4 -0.9 9.4 -1.65 10.15 -1.65 L11.0 -0.9 Q11.0 -0.05 10.15 -0.05 M15.25 -3.8 L15.15 -4.25 Q15.15 -4.7 15.75 -4.7 L16.35 -4.35 Q16.1 -3.8 15.75 -3.8 L15.25 -3.8 M0.4 0.2 Q0.4 -0.8 1.45 -0.8 2.5 -0.8 2.5 0.2 L2.3 0.8 Q2.0 1.3 1.45 1.3 0.5 1.3 0.4 0.2 M-10.45 -7.4 Q-7.75 -7.4 -7.75 -5.65 -7.75 -4.95 -8.35 -4.6 -8.55 -3.65 -9.7 -3.65 -10.7 -3.65 -11.0 -4.25 -12.2 -4.3 -12.4 -4.55 -13.4 -4.55 -13.4 -5.35 L-12.5 -6.5 Q-11.45 -7.4 -10.45 -7.4 M-10.7 -1.85 Q-10.7 -0.35 -12.1 -0.35 -13.45 -0.35 -13.55 -1.8 -13.55 -3.2 -12.1 -3.2 -11.3 -3.2 -10.95 -2.55 L-10.7 -1.85 M-5.15 -9.5 L-5.0 -9.05 Q-5.0 -8.05 -5.9 -8.05 -6.85 -8.05 -6.8 -9.05 -6.8 -9.95 -5.9 -9.95 -5.35 -9.95 -5.15 -9.5 M-8.3 -2.25 Q-8.3 -2.5 -6.65 -3.35 -5.05 -4.25 -4.6 -4.25 -3.7 -4.25 -3.3 -3.5 L-3.1 -2.75 Q-3.1 -1.1 -6.95 -1.1 -8.45 -1.1 -8.3 -2.25 M-2.3 2.95 Q-2.3 4.0 -3.85 4.0 -5.3 4.0 -5.3 2.7 -5.3 1.65 -4.3 1.65 -2.3 1.65 -2.3 2.95 M-8.65 0.7 Q-8.65 1.6 -9.55 1.6 -10.65 1.6 -10.75 0.65 -10.75 -0.3 -9.55 -0.3 L-8.75 0.2 -8.65 0.7 M-8.75 4.8 Q-8.2 4.8 -8.0 5.2 L-7.9 5.6 Q-7.9 6.4 -8.75 6.4 -9.6 6.4 -9.5 5.6 -9.5 4.8 -8.75 4.8 M-13.7 1.65 Q-13.7 2.8 -15.35 2.8 -16.3 2.8 -16.4 1.8 -16.4 0.45 -15.0 0.45 -14.2 0.45 -13.85 1.05 L-13.7 1.65 M-11.3 9.4 Q-10.8 9.4 -10.6 9.75 L-10.55 10.1 Q-10.55 10.9 -11.3 10.9 -12.15 10.9 -12.05 10.15 -12.0 9.4 -11.3 9.4"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadSpecial3',
	props: {
		size: Number
	}
});
</script>
