<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${41.25 * size}px`"
		:width="`${47.55 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.2 * size}, ${1.25 * size})`">
			<path
				d="M12.45 -1.2 Q15.2 -0.65 16.9 1.75 L18.35 4.05 18.95 5.35 19.0 5.5 18.55 6.05 18.35 6.2 14.3 8.6 13.0 9.25 12.45 9.35 Q7.4 9.45 5.9 4.3 5.65 3.3 6.0 2.35 6.8 0.1 9.35 -0.8 10.75 -1.4 12.45 -1.2 M23.45 8.15 L26.85 8.25 Q30.65 9.35 31.35 14.75 30.3 21.9 28.75 21.9 28.35 21.9 27.75 20.3 L26.85 19.65 23.45 17.05 22.55 15.9 Q21.5 13.85 21.4 11.5 L21.4 10.8 Q22.0 9.3 23.45 8.15 M30.2 15.4 L30.0 13.35 Q29.8 11.65 28.3 10.55 L26.3 9.35 25.2 9.1 24.4 9.0 24.1 9.05 23.6 9.4 22.85 11.4 Q22.45 13.65 23.8 15.45 25.1 17.25 26.85 18.4 28.55 19.5 28.85 20.25 29.9 17.9 30.2 15.4 M7.2 5.05 L8.75 7.25 10.1 7.9 12.45 8.05 Q13.6 7.8 14.8 6.95 L15.5 6.5 17.0 5.45 17.8 5.0 16.45 2.6 Q14.95 0.8 12.45 0.35 L10.45 0.05 Q8.1 0.85 7.25 3.2 6.95 4.0 7.2 5.05 M23.05 35.6 L22.6 34.3 Q22.4 33.55 22.9 32.55 23.85 30.55 26.65 30.4 29.75 32.2 29.25 35.85 L29.1 36.7 28.6 37.7 Q27.4 40.0 25.75 40.0 L23.7 36.7 23.05 35.6 M23.95 33.1 Q23.65 34.65 24.45 35.95 L24.85 36.7 25.2 37.2 Q25.75 38.5 26.35 38.65 26.9 38.8 27.7 37.35 28.45 35.9 28.4 34.4 28.35 32.85 26.95 31.65 L26.15 31.4 Q25.7 31.5 25.4 31.75 24.6 32.35 23.95 33.1 M-8.0 20.7 Q-10.25 18.75 -11.7 19.9 -13.2 21.05 -13.9 22.45 -14.65 23.85 -14.85 26.35 L-15.05 28.45 -14.95 29.55 -11.1 27.45 Q-8.9 26.7 -7.85 25.3 -6.85 23.85 -7.05 22.65 -7.25 21.45 -8.0 20.7 M-13.15 19.25 Q-11.6 17.7 -9.35 18.05 -7.8 18.9 -6.75 20.1 -5.3 21.65 -5.65 23.55 -6.05 25.95 -7.15 26.6 L-9.4 28.2 Q-11.5 28.7 -13.15 29.5 L-14.0 29.85 Q-15.2 30.5 -15.75 31.35 L-16.2 30.6 -16.15 29.85 -15.7 25.7 -15.3 23.25 Q-14.85 20.85 -13.15 19.25"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M22.85 11.4 L23.6 9.4 24.1 9.05 24.4 9.0 25.2 9.1 26.3 9.35 28.3 10.55 Q29.8 11.65 30.0 13.35 L30.2 15.4 29.7 14.55 Q29.35 13.65 27.85 12.55 L26.85 11.95 26.25 11.75 Q24.6 11.0 22.85 11.4 M16.45 2.6 L15.65 2.55 12.45 2.75 10.8 3.25 Q8.85 4.05 7.2 5.05 6.95 4.0 7.25 3.2 8.1 0.85 10.45 0.05 L12.45 0.35 Q14.95 0.8 16.45 2.6 M25.2 37.2 L24.85 36.7 24.45 35.95 Q23.65 34.65 23.95 33.1 L24.4 33.95 Q25.2 35.15 25.15 36.7 L25.2 37.2 M-15.05 28.45 L-14.85 26.35 Q-14.65 23.85 -13.9 22.45 -13.2 21.05 -11.7 19.9 -10.25 18.75 -8.0 20.7 L-11.8 24.3 -14.45 27.55 -15.05 28.45"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M22.85 11.4 Q24.6 11.0 26.25 11.75 L26.85 11.95 27.85 12.55 Q29.35 13.65 29.7 14.55 L30.2 15.4 Q29.9 17.9 28.85 20.25 28.55 19.5 26.85 18.4 25.1 17.25 23.8 15.45 22.45 13.65 22.85 11.4 M7.2 5.05 Q8.85 4.05 10.8 3.25 L12.45 2.75 15.65 2.55 16.45 2.6 17.8 5.0 17.0 5.45 15.5 6.5 14.8 6.95 Q13.6 7.8 12.45 8.05 L10.1 7.9 8.75 7.25 7.2 5.05 M25.2 37.2 L25.15 36.7 Q25.2 35.15 24.4 33.95 L23.95 33.1 Q24.6 32.35 25.4 31.75 25.7 31.5 26.15 31.4 L26.95 31.65 Q28.35 32.85 28.4 34.4 28.45 35.9 27.7 37.35 26.9 38.8 26.35 38.65 25.75 38.5 25.2 37.2 M-15.05 28.45 L-14.45 27.55 -11.8 24.3 -8.0 20.7 Q-7.25 21.45 -7.05 22.65 -6.85 23.85 -7.85 25.3 -8.9 26.7 -11.1 27.45 L-14.95 29.55 -15.05 28.45"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmSpecial0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
