<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${8.45 * size}px`"
		:width="`${2.95 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-40.7 * size}, ${-13.7 * size})`">
			<path
				d="M41.5 13.7 Q42.65 13.65 42.95 18.75 L42.8 19.15 42.4 19.35 42.25 19.3 42.2 19.2 Q40.7 15.6 40.7 14.7 40.7 13.65 41.5 13.7 M43.6 21.5 L43.6 21.75 43.6 21.8 43.45 22.1 43.1 22.15 43.0 22.15 42.9 22.05 42.35 21.3 42.3 21.15 42.3 20.85 42.4 20.7 42.55 20.6 42.7 20.55 42.85 20.5 Q43.55 20.45 43.6 21.45 L43.6 21.5"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmSpecial6',
	props: {
		size: Number
	}
});
</script>
