<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${49.75 * size}px`"
		:width="`${34.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, ${-4.5 * size})`">
			<path
				d="M33.5 53.1 L33.5 53.15 30.05 54.1 28.8 54.25 28.05 53.7 27.4 53.15 28.85 53.25 29.25 53.3 33.5 53.1 M23.85 47.95 L23.7 47.35 24.8 47.35 25.7 47.35 23.85 47.95 M25.3 37.9 L25.55 37.35 26.45 37.4 29.55 37.5 29.6 37.65 29.55 37.9 28.4 37.95 26.3 37.95 25.3 37.9 M27.8 28.45 L27.85 27.9 28.05 28.0 29.6 29.0 29.3 28.95 27.8 28.45 M28.45 20.3 L28.45 20.05 28.7 20.2 29.05 20.4 29.15 20.5 29.15 20.55 28.45 20.3 M8.5 18.3 L9.1 18.15 10.35 17.95 9.9 18.6 Q9.15 18.75 8.55 19.0 L8.05 19.15 7.6 19.35 8.5 18.3 M3.15 43.65 L3.3 45.2 2.25 43.85 Q1.35 42.65 0.75 41.25 L0.2 39.35 0.0 36.3 Q0.0 34.45 0.45 32.4 L0.55 31.95 Q0.8 30.8 1.2 29.7 1.65 28.4 2.25 27.15 L4.0 23.8 4.5 22.75 5.55 21.6 4.0 25.35 3.35 26.7 3.35 26.85 3.4 26.85 4.0 26.7 4.05 26.7 5.8 26.25 5.55 27.0 4.0 27.4 2.9 27.75 2.05 29.9 1.05 34.0 3.55 34.5 3.45 35.2 0.95 34.6 0.8 36.85 1.4 40.3 3.05 41.2 3.05 42.1 1.8 41.35 3.15 43.65"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M31.2 11.85 L31.25 11.85 31.3 11.75 31.2 11.85 M29.35 13.15 Q30.1 9.05 31.55 5.15 L34.3 8.65 Q33.85 10.85 33.7 13.2 L32.6 28.8 Q32.05 35.65 31.1 42.35 L30.5 42.65 Q28.1 43.85 25.25 44.35 L23.4 44.6 23.45 43.65 25.25 43.3 Q27.15 42.85 28.05 42.15 L27.4 42.15 25.25 42.55 23.6 42.75 Q23.9 41.15 24.65 39.45 L25.3 37.9 26.3 37.95 28.4 37.95 29.55 37.9 29.6 37.65 29.55 37.5 26.45 37.4 25.55 37.35 27.1 32.1 27.8 31.4 28.15 30.1 27.95 29.65 27.65 29.3 27.8 28.45 29.3 28.95 29.6 29.0 28.05 28.0 27.85 27.9 28.05 28.0 28.75 28.35 Q30.6 28.35 31.0 25.05 31.0 23.1 28.6 21.35 L28.35 21.2 28.45 20.3 29.15 20.55 29.15 20.5 29.05 20.4 28.7 20.2 28.45 20.05 28.5 19.8 29.25 20.0 Q33.35 20.0 33.3 16.85 33.3 13.55 29.3 13.3 L29.35 13.2 29.75 12.95 29.35 13.15 M18.25 9.45 L17.85 8.2 Q17.65 7.35 17.6 6.3 L17.9 5.9 Q20.5 5.0 23.4 4.5 L18.25 9.45 M4.1 31.65 L3.55 34.5 1.05 34.0 2.05 29.9 4.0 31.6 4.1 31.65 M3.45 35.2 L3.4 35.45 Q3.15 37.3 3.05 39.2 L0.8 36.85 0.95 34.6 3.45 35.2"
				:fill="chestSixthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M31.2 11.85 L31.3 11.75 31.25 11.85 31.2 11.85 M3.4 26.85 L3.35 26.85 3.35 26.7 3.4 26.85"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M27.1 32.1 L27.65 29.3 27.95 29.65 28.15 30.1 27.8 31.4 27.1 32.1 M27.85 27.9 L28.1 25.05 28.35 21.2 28.6 21.35 Q31.0 23.1 31.0 25.05 30.6 28.35 28.75 28.35 L28.05 28.0 27.85 27.9 M28.5 19.8 L28.65 17.75 Q28.9 15.5 29.3 13.3 33.3 13.55 33.3 16.85 33.35 20.0 29.25 20.0 L28.5 19.8 M29.35 13.2 L29.35 13.15 29.75 12.95 29.35 13.2 M17.6 6.3 Q17.65 7.35 17.85 8.2 L18.25 9.45 17.65 9.9 Q13.45 13.45 10.35 17.95 L9.1 18.15 8.5 18.3 13.45 11.85 Q15.45 9.0 17.6 6.3 M5.55 21.6 L7.6 19.35 8.05 19.15 8.55 19.0 Q9.15 18.75 9.9 18.6 L8.1 21.45 Q6.8 23.8 5.8 26.25 L4.05 26.7 4.0 26.7 3.4 26.85 3.35 26.7 4.0 25.35 5.55 21.6 M5.55 27.0 Q4.65 29.25 4.1 31.65 L4.0 31.6 2.05 29.9 2.9 27.75 4.0 27.4 5.55 27.0"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M31.1 42.35 L30.85 44.05 Q29.95 49.8 33.5 53.1 L29.25 53.3 28.85 53.25 27.4 53.15 Q24.75 50.7 23.85 47.95 L25.7 47.35 24.8 47.35 23.7 47.35 Q23.35 46.0 23.4 44.6 L25.25 44.35 Q28.1 43.85 30.5 42.65 L31.1 42.35 M23.45 43.65 L23.6 42.75 25.25 42.55 27.4 42.15 28.05 42.15 Q27.15 42.85 25.25 43.3 L23.45 43.65 M3.05 39.2 L3.05 41.2 1.4 40.3 0.8 36.85 3.05 39.2 M3.05 42.1 L3.15 43.65 1.8 41.35 3.05 42.1"
				:fill="chestSeventhColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0215, 0.0, 0.0, 0.0215, 13.9, 18.3)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="chestFourthColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeChest4',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		chestFourthColor: String,
		chestFifthColor: String,
		chestSixthColor: String,
		chestSeventhColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
