<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${16.8 * size}px`"
		:width="`${15.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${20.1 * size}, ${28.85 * size})`">
			<path
				d="M-11.2 -25.35 Q-11.15 -27.0 -11.25 -27.35 L-11.5 -27.95 Q-10.35 -27.8 -8.95 -26.1 L-9.05 -26.2 -9.05 -25.3 -9.65 -21.35 -9.7 -21.35 Q-10.4 -22.55 -11.05 -25.4 L-11.2 -25.35 M-17.7 -19.1 L-17.3 -19.8 -15.1 -23.55 Q-12.75 -27.75 -12.15 -27.9 L-12.0 -27.95 -12.15 -26.75 -12.05 -24.35 -11.9 -22.1 -13.55 -12.5 -13.55 -12.45 -14.7 -12.8 -14.7 -13.1 -14.6 -13.45 -14.55 -13.7 -14.55 -13.75 -14.55 -14.3 -14.3 -15.7 -13.95 -17.45 -14.15 -17.75 -15.3 -16.1 -15.25 -16.25 -15.4 -16.4 -15.6 -16.35 Q-16.0 -16.1 -16.1 -15.15 L-16.15 -15.1 -16.15 -15.0 -16.15 -14.75 -16.15 -14.25 Q-17.65 -15.4 -17.95 -16.4 -18.3 -17.45 -18.0 -18.2 L-17.7 -19.1"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-8.95 -26.1 Q-10.35 -27.8 -11.5 -27.95 L-11.25 -27.35 Q-11.15 -27.0 -11.2 -25.35 L-11.35 -23.5 Q-11.6 -20.15 -11.9 -19.35 L-12.05 -19.4 -11.9 -22.1 -12.05 -24.35 -12.15 -26.75 -12.0 -27.95 -12.15 -27.9 Q-12.75 -27.75 -15.1 -23.55 L-17.3 -19.8 -17.7 -19.1 -18.45 -18.25 -18.5 -18.45 Q-14.5 -28.2 -12.4 -28.75 -10.05 -29.35 -7.55 -26.2 -5.85 -23.95 -5.5 -22.7 -5.15 -21.5 -5.15 -20.35 L-5.15 -20.2 -5.0 -20.0 -5.25 -19.05 -5.3 -19.0 -5.35 -19.4 -5.55 -19.85 -5.7 -20.1 -7.75 -24.35 -8.2 -25.05 -8.25 -25.15 -8.65 -25.7 -8.95 -26.1 M-7.45 -18.85 Q-7.25 -18.6 -7.0 -17.8 L-6.9 -15.95 -6.9 -15.5 Q-7.0 -14.55 -7.3 -14.25 L-7.4 -14.25 -7.4 -14.95 -7.45 -14.95 -7.55 -18.85 -7.45 -18.85 M-15.75 -14.0 L-15.8 -13.95 -16.15 -14.25 -16.15 -14.75 -16.15 -15.0 -16.15 -15.1 -16.1 -15.15 Q-16.0 -16.1 -15.6 -16.35 L-15.4 -16.4 -15.25 -16.25 -15.3 -16.1 -15.65 -14.85 -15.7 -14.4 -15.7 -14.3 -15.75 -14.0 M-14.55 -14.3 L-14.55 -13.75 -14.55 -13.7 -14.6 -13.45 -14.7 -13.1 -14.75 -12.95 -14.8 -12.85 -15.1 -14.15 -15.05 -14.25 -14.8 -14.6 -14.6 -14.45 -14.55 -14.3"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-11.2 -25.35 L-11.05 -25.4 Q-10.4 -22.55 -9.7 -21.35 L-9.65 -21.35 -9.05 -25.3 -9.05 -26.2 -8.95 -26.1 -8.65 -25.7 -8.25 -25.15 -8.2 -25.05 -7.75 -24.35 -5.7 -20.1 -5.55 -19.85 -5.35 -19.4 -5.3 -19.0 Q-4.75 -18.45 -5.35 -16.1 -6.0 -13.75 -8.35 -12.6 -10.1 -11.75 -12.7 -12.25 L-13.45 -12.45 -13.55 -12.45 -13.55 -12.5 -11.9 -22.1 -12.05 -19.4 -11.9 -19.35 Q-11.6 -20.15 -11.35 -23.5 L-11.2 -25.35 M-7.45 -18.85 L-7.55 -18.85 -7.45 -14.95 -7.4 -14.95 -7.4 -14.25 -7.3 -14.25 Q-7.0 -14.55 -6.9 -15.5 L-6.9 -15.95 -7.0 -17.8 Q-7.25 -18.6 -7.45 -18.85 M-14.7 -12.8 L-14.75 -12.8 -14.8 -12.85 -15.75 -13.95 -15.75 -14.0 -15.7 -14.3 -15.7 -14.4 -15.65 -14.85 -15.3 -16.1 -14.15 -17.75 -13.95 -17.45 -14.3 -15.7 -14.55 -14.3 -14.6 -14.45 -14.8 -14.6 -15.05 -14.25 -15.1 -14.15 -14.8 -12.85 -14.75 -12.95 -14.7 -13.1 -14.7 -12.8"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.45 -24.15 L-18.35 -24.1 -18.25 -24.0 -18.25 -23.7 Q-18.25 -23.2 -19.6 -22.25 L-19.65 -22.25 Q-20.1 -22.35 -20.1 -22.8 L-19.8 -23.65 Q-19.4 -24.3 -18.5 -24.15 L-18.45 -24.15"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightKnee1',
	props: {
		size: Number
	}
});
</script>
