<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${21.5 * size}px`"
		:width="`${32.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${25.0 * size}, ${10.05 * size})`">
			<path
				d="M5.0 10.0 L7.7 10.5 -1.4 11.45 Q-9.7 11.6 -15.55 9.4 -21.5 7.2 -23.55 5.1 L-23.25 5.3 -24.6 4.25 -24.3 4.05 -24.1 4.15 Q-23.85 4.2 -23.35 4.4 L-22.45 5.1 -16.8 7.75 Q-8.45 11.05 2.45 10.25 L5.0 10.0"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-24.1 4.15 L-25.0 0.25 Q-25.0 -4.7 -23.15 -7.55 L-23.1 -7.6 -21.9 -9.05 -21.9 -9.1 -20.6 -10.05 Q-19.05 -6.45 -16.3 -3.25 L-16.1 -3.0 -9.15 3.9 Q-3.75 7.05 1.95 9.1 L5.0 10.0 2.45 10.25 Q-8.45 11.05 -16.8 7.75 L-22.45 5.1 -23.35 4.4 Q-23.85 4.2 -24.1 4.15"
				:fill="chestThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeTailSpecial0',
	props: {
		chestThirdColor: String,
		borderColor: String,
		size: Number
	}
});
</script>
