<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${13.25 * size}px`"
		:width="`${25.05 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.6 * size}, ${6.45 * size})`">
			<path
				d="M0.3 -2.55 L0.2 -3.0 0.2 -3.05 0.2 -3.25 0.1 -3.6 -0.05 -4.15 -0.05 -4.25 Q-0.25 -5.15 -0.7 -5.45 L-1.2 -5.6 Q-2.7 -5.6 -3.45 -3.75 L-3.75 -3.05 -3.75 -3.0 -4.05 -1.55 Q-4.4 -1.05 -4.6 -1.65 -4.85 -2.3 -4.65 -3.0 L-3.95 -4.6 Q-2.9 -6.45 -1.15 -6.45 0.7 -6.45 0.85 -3.7 L0.85 -3.3 1.0 -2.55 Q1.0 -2.2 0.7 -2.15 L0.3 -2.55 M7.85 -3.0 L7.15 -3.05 5.7 -2.75 4.6 -2.3 4.0 -2.05 3.5 -1.85 3.05 -1.6 Q2.55 -1.85 3.1 -2.2 L3.35 -2.4 3.5 -2.5 4.75 -3.2 Q6.25 -3.8 7.5 -3.8 10.2 -3.8 10.15 -1.6 9.8 -0.3 9.2 0.2 L8.8 0.6 8.0 0.4 8.15 0.2 8.15 0.05 8.8 -0.7 8.95 -0.8 Q9.45 -1.25 9.45 -1.65 L9.45 -1.7 9.45 -1.75 9.45 -1.9 9.4 -2.0 9.4 -2.1 9.4 -2.15 9.35 -2.2 9.35 -2.25 9.3 -2.3 9.25 -2.4 8.25 -2.95 7.85 -3.0 M-10.85 1.15 L-11.15 1.4 Q-12.0 1.4 -12.4 -0.45 L-12.6 -2.35 Q-12.6 -5.1 -10.7 -5.1 -10.0 -5.1 -6.35 -1.4 L-6.35 -1.25 -5.7 -0.6 -6.1 -0.35 -6.75 -0.8 -7.05 -1.0 -7.65 -1.4 -8.85 -2.65 -10.55 -4.3 -10.85 -4.25 Q-11.85 -4.05 -11.8 -2.3 L-11.0 0.3 -10.85 0.95 -10.85 1.1 -10.85 1.15 M9.2 2.9 L9.2 2.85 Q9.65 2.5 10.25 2.55 11.05 2.55 11.7 3.0 L12.35 3.9 12.3 4.95 12.3 5.0 12.15 5.35 Q11.15 6.45 9.65 6.6 L8.3 6.8 Q7.45 6.7 7.85 6.45 L7.95 6.35 10.5 5.85 11.75 5.0 11.85 4.5 11.65 4.0 11.5 3.7 11.15 3.5 Q10.7 3.15 10.05 3.2 L9.55 3.2 9.3 3.05 9.25 3.0 9.2 2.9"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.05 -4.15 L0.1 -3.6 0.2 -3.25 0.2 -3.05 0.2 -3.0 0.3 -2.55 -1.55 -2.0 -1.9 -2.5 -2.05 -3.0 -2.1 -3.4 Q-2.1 -5.3 -0.7 -5.45 -0.25 -5.15 -0.05 -4.25 L-0.05 -4.15 -0.1 -4.15 -0.05 -4.15 M5.6 -0.65 Q5.55 -1.0 5.8 -1.4 L6.45 -2.2 6.5 -2.25 7.85 -3.0 8.25 -2.95 9.25 -2.4 9.3 -2.3 9.35 -2.25 9.35 -2.2 9.4 -2.15 9.4 -2.1 9.4 -2.0 9.45 -1.9 9.45 -1.75 9.45 -1.7 9.45 -1.65 Q9.45 -1.25 8.95 -0.8 L8.8 -0.7 8.15 0.05 6.85 -0.25 Q6.2 -0.4 5.6 -0.65 M-6.75 -0.8 L-7.6 0.0 -7.8 0.0 -8.3 0.3 Q-9.2 0.3 -10.1 -1.95 L-10.85 -4.25 -10.55 -4.3 -8.85 -2.65 -7.65 -1.4 -7.05 -1.0 -6.75 -0.8 M9.2 2.9 L9.25 3.0 9.3 3.05 9.55 3.2 10.05 3.2 Q10.7 3.15 11.15 3.5 L11.5 3.7 11.65 4.0 11.85 4.5 11.75 5.0 10.5 5.85 7.95 6.35 7.85 6.45 Q7.4 6.2 7.4 5.4 7.4 4.85 7.9 4.0 8.4 3.0 9.2 2.9"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.7 -5.45 Q-2.1 -5.3 -2.1 -3.4 L-2.05 -3.0 -1.9 -2.5 -1.55 -2.0 -3.1 -1.7 -4.05 -1.55 -3.75 -3.0 -3.75 -3.05 -3.45 -3.75 Q-2.7 -5.6 -1.2 -5.6 L-0.7 -5.45 M5.6 -0.65 L4.95 -0.95 3.5 -1.85 4.0 -2.05 4.6 -2.3 5.7 -2.75 7.15 -3.05 7.85 -3.0 6.5 -2.25 6.45 -2.2 5.8 -1.4 Q5.55 -1.0 5.6 -0.65 M-7.6 0.0 L-8.0 0.3 Q-9.45 1.35 -10.5 1.35 L-10.9 1.3 -10.85 1.15 -10.85 1.1 -10.85 0.95 -11.0 0.3 -11.8 -2.3 Q-11.85 -4.05 -10.85 -4.25 L-10.1 -1.95 Q-9.2 0.3 -8.3 0.3 L-7.8 0.0 -7.6 0.0 M-9.85 0.15 L-9.9 0.05 -9.9 0.15 -9.85 0.15"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair1',
	props: {
		size: Number,
		hairFirstColor: String,
		hairBorderColor: String
	}
});
</script>
