<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${9.9 * size}px`"
		:width="`${8.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${3.0 * size}, ${4.15 * size})`">
			<path
				d="M-2.35 2.85 L-1.95 2.2 -2.0 2.2 -1.35 1.1 Q-0.8 -0.1 -0.55 -1.25 L-0.55 -2.4 Q-0.55 -3.35 -1.7 -3.75 L-1.8 -3.9 Q0.1 -4.5 1.95 -3.5 L2.15 -3.35 2.55 -3.05 3.15 -2.25 3.3 -2.15 4.75 -1.05 5.05 -0.75 5.1 -0.7 Q5.1 -0.3 4.85 -0.3 L4.05 -0.8 3.5 -1.2 3.0 -1.5 Q2.95 -0.15 2.5 0.95 L2.35 1.3 2.35 1.0 2.4 -0.65 2.35 -1.65 1.95 -2.55 Q1.6 -2.95 1.2 -2.95 L0.0 -3.0 0.1 -2.7 0.15 -2.45 0.2 -2.35 0.2 -2.2 0.25 -2.05 0.25 -1.95 0.25 -1.05 Q0.2 -0.25 -0.25 0.5 L-0.7 1.25 -1.35 2.15 -2.1 2.85 -2.6 3.25 -2.35 2.85"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.75 -1.05 Q5.9 -0.75 5.9 1.7 5.9 5.75 3.35 5.75 2.2 5.75 -0.05 4.6 L-2.05 3.35 -2.45 3.5 -2.8 3.95 -2.9 3.75 -2.9 3.7 -2.8 3.45 -2.35 2.85 -2.6 3.25 -2.1 2.85 -1.35 2.15 -0.7 1.25 -0.25 0.5 Q0.2 -0.25 0.25 -1.05 L0.1 -0.15 1.2 -0.05 1.5 -0.1 2.4 -0.65 2.35 1.0 2.35 1.3 2.5 0.95 Q2.95 -0.15 3.0 -1.5 L3.5 -1.2 4.05 -0.8 4.85 -0.3 Q5.1 -0.3 5.1 -0.7 L5.05 -0.75 4.75 -1.05 M-1.65 2.7 L-1.45 2.7 -1.5 2.65 -1.65 2.7"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path d="M-2.8 3.95 L-3.0 4.1 -2.9 3.75 -2.8 3.95" fill="#e0cca3" fill-rule="evenodd" stroke="none" />
			<path
				d="M0.25 -1.05 L0.25 -1.95 0.25 -2.05 0.2 -2.2 0.2 -2.35 0.15 -2.45 0.1 -2.7 0.0 -3.0 1.2 -2.95 Q1.6 -2.95 1.95 -2.55 L2.35 -1.65 2.4 -0.65 1.5 -0.1 1.2 -0.05 0.1 -0.15 0.25 -1.05"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0123, 0.0018, -7.0E-4, 0.0048, 7.8, 2.0)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair10',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
