<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${24.5 * size}px`"
		:width="`${25.6 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.8 * size}, ${12.25 * size})`">
			<path
				d="M-0.95 -4.0 L-0.35 -5.2 1.8 -7.8 Q3.7 -10.15 4.35 -10.1 L4.8 -9.75 3.95 -7.5 2.55 -3.45 2.5 -3.45 2.25 -5.5 1.75 -4.85 Q3.15 -6.8 3.4 -8.05 L3.3 -8.2 1.8 -6.05 0.75 -4.45 0.7 -4.35 0.5 -4.35 -0.95 -4.0 M1.2 -2.75 L1.05 -2.8 1.2 -2.75 M-11.8 -1.15 L-11.8 -2.45 -11.65 -7.8 -11.3 -10.25 -11.2 -10.65 -10.65 -9.15 -9.6 -7.05 -9.5 -7.1 -10.3 -10.4 -10.15 -11.05 -10.2 -11.35 Q-8.85 -11.1 -7.35 -8.85 L-6.85 -7.3 -6.3 -5.4 -6.35 -5.4 -7.2 -6.25 -7.45 -6.55 -7.5 -6.55 -7.8 -6.85 Q-8.1 -7.1 -8.6 -8.4 L-8.75 -8.35 -8.75 -8.1 Q-8.75 -5.9 -7.9 -2.65 L-10.25 -4.15 -10.45 -4.05 -10.5 -4.25 -10.55 -4.25 -10.6 -3.6 -10.45 -2.45 -10.4 -2.2 -10.4 -2.1 -10.3 -1.25 -10.45 -2.05 -10.45 -2.2 -11.8 -1.15 M-8.15 -6.75 L-8.1 -6.75 -8.15 -6.7 -8.15 -6.75"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.8 -9.75 L4.35 -10.1 Q3.7 -10.15 1.8 -7.8 L-0.35 -5.2 -0.95 -4.0 -0.95 -4.4 -1.55 -3.7 -1.6 -3.65 -1.85 -3.4 -2.2 -3.05 Q-2.55 -3.05 -2.55 -3.3 -2.0 -4.35 -1.45 -4.6 L-1.25 -4.9 Q2.65 -11.3 4.45 -11.1 7.1 -10.8 5.15 -3.0 4.85 -1.3 4.35 -1.35 4.25 -1.35 4.25 -1.5 4.15 -1.85 4.2 -2.5 L4.65 -5.65 4.95 -7.45 4.95 -7.55 5.0 -7.7 5.05 -8.8 5.0 -9.0 4.8 -9.75 M0.7 -4.35 L0.75 -4.45 1.8 -6.05 3.3 -8.2 3.4 -8.05 Q3.15 -6.8 1.75 -4.85 L1.25 -4.1 0.45 -3.2 Q0.25 -3.35 0.3 -3.55 L0.7 -4.35 M2.7 -3.3 L3.2 -5.0 3.35 -5.0 3.3 -3.85 2.95 -2.3 2.75 -2.25 2.7 -3.1 2.7 -3.3 M7.5 0.1 Q7.15 -0.05 7.15 -0.25 7.05 -0.6 7.6 -0.65 L11.0 -0.25 Q12.7 0.3 12.8 0.95 12.85 1.4 11.3 2.8 L9.25 4.45 8.1 5.15 7.0 5.65 6.65 5.35 7.25 4.85 8.45 4.0 8.5 3.95 8.85 3.5 8.95 3.4 9.55 2.9 Q10.45 2.1 11.85 1.2 11.6 0.75 9.35 0.5 L8.45 0.4 8.1 0.3 7.65 0.2 7.5 0.1 M10.85 1.35 Q10.9 1.55 9.35 2.25 L8.85 2.35 8.75 2.25 Q8.7 2.05 9.1 1.8 L10.35 1.25 10.7 1.2 10.85 1.35 M6.85 9.4 L6.65 9.1 7.0 8.8 Q8.15 8.8 9.35 11.0 9.35 12.25 7.2 12.25 5.5 12.25 5.5 11.8 5.5 11.6 5.65 11.55 L5.8 11.5 5.9 11.45 6.25 11.45 6.3 11.45 8.55 11.05 7.2 9.85 7.2 9.8 6.85 9.4 M-7.35 -8.85 Q-8.85 -11.1 -10.2 -11.35 L-10.15 -11.05 -10.3 -10.4 -9.5 -7.1 -9.6 -7.05 -10.65 -9.15 -11.2 -10.65 -11.3 -10.25 -11.65 -7.8 -11.8 -2.45 -11.8 -1.15 -11.8 -0.9 -11.75 0.0 -11.75 0.15 -11.8 0.35 -12.0 0.4 Q-12.6 0.4 -12.75 -2.45 L-12.8 -3.6 -12.65 -7.65 Q-12.5 -10.35 -11.8 -11.45 L-11.35 -11.95 Q-11.0 -12.25 -10.5 -12.25 -8.85 -12.25 -6.65 -9.2 -5.35 -7.35 -3.8 -4.3 L-3.45 -3.65 -3.5 -3.55 -3.1 -3.0 Q-3.1 -2.75 -3.4 -2.75 L-3.9 -3.1 -4.0 -3.3 -4.05 -3.35 -4.1 -3.5 -4.15 -3.55 -4.2 -3.55 -4.3 -3.65 -4.4 -3.8 -4.55 -3.95 -5.5 -5.45 -6.5 -7.35 -6.8 -7.9 -7.35 -8.85 M-10.3 -1.25 L-10.4 -2.1 -10.4 -2.2 -10.45 -2.45 -10.6 -3.6 -10.55 -4.25 -10.5 -4.25 -10.45 -4.05 -9.95 -2.45 -9.85 -1.8 -9.75 -1.15 -9.7 -0.5 Q-9.75 -0.15 -10.05 -0.15 L-10.3 -1.25 M-7.5 -6.55 L-7.45 -6.55 -7.2 -6.25 -7.0 -5.95 -6.0 -4.35 -5.75 -3.9 -5.5 -3.5 -5.1 -2.65 -4.95 -2.35 -4.95 -2.25 Q-5.0 -1.95 -5.25 -1.95 L-5.7 -2.25 -6.0 -2.7 -6.25 -3.1 -6.95 -4.9 -7.05 -5.15 -7.5 -6.55"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.95 -4.0 L0.5 -4.35 0.7 -4.35 0.3 -3.55 Q0.25 -3.35 0.45 -3.2 L1.25 -4.1 1.75 -4.85 2.25 -5.5 2.5 -3.45 2.55 -3.45 3.95 -7.5 4.8 -9.75 5.0 -9.0 5.05 -8.8 5.0 -7.7 4.95 -7.55 4.95 -7.45 4.65 -5.65 4.2 -2.5 Q4.15 -1.85 4.25 -1.5 L4.2 -1.55 2.7 -2.0 Q2.0 -2.3 1.2 -2.75 L1.05 -2.8 0.5 -3.15 -1.5 -3.05 -1.85 -3.4 -1.6 -3.65 -1.55 -3.7 -0.95 -4.4 -0.95 -4.0 M2.7 -3.3 L2.7 -3.1 2.75 -2.25 2.95 -2.3 3.3 -3.85 3.35 -5.0 3.2 -5.0 2.7 -3.3 M7.25 4.85 L7.15 4.6 Q7.15 2.95 7.3 2.25 7.3 0.6 7.5 0.1 L7.65 0.2 8.1 0.3 8.45 0.4 9.35 0.5 Q11.6 0.75 11.85 1.2 10.45 2.1 9.55 2.9 L8.95 3.4 8.9 3.4 8.85 3.5 8.5 3.95 8.45 4.0 7.25 4.85 M10.85 1.35 L10.7 1.2 10.35 1.25 9.1 1.8 Q8.7 2.05 8.75 2.25 L8.85 2.35 9.35 2.25 Q10.9 1.55 10.85 1.35 M5.65 11.55 L5.6 11.25 5.9 10.35 Q6.3 9.45 6.85 9.4 L7.2 9.8 7.2 9.85 8.55 11.05 6.3 11.45 6.25 11.45 5.9 11.45 5.8 11.5 5.65 11.55 M-7.35 -8.85 L-6.8 -7.9 -6.5 -7.35 -5.5 -5.45 -4.55 -3.95 -4.4 -3.8 -4.3 -3.65 -4.2 -3.55 -4.15 -3.55 -4.1 -3.5 -4.05 -3.35 -4.0 -3.3 -3.9 -3.1 Q-4.0 -2.5 -4.95 -2.35 L-5.1 -2.65 -5.5 -3.5 -5.75 -3.9 -6.0 -4.35 -7.0 -5.95 -7.2 -6.25 -6.35 -5.4 -6.3 -5.4 -6.85 -7.3 -7.35 -8.85 M-11.75 0.15 L-11.75 0.0 -11.8 -0.9 -11.8 -1.15 -10.45 -2.2 -10.45 -2.05 -10.3 -1.25 -10.05 -0.15 Q-9.75 -0.15 -9.7 -0.5 L-9.75 -1.15 -9.85 -1.8 -9.95 -2.45 -10.45 -4.05 -10.25 -4.15 -7.9 -2.65 Q-8.75 -5.9 -8.75 -8.1 L-8.75 -8.35 -8.6 -8.4 Q-8.1 -7.1 -7.8 -6.85 L-7.5 -6.55 -7.05 -5.15 -6.95 -4.9 -6.25 -3.1 -6.0 -2.7 -5.7 -2.25 Q-6.25 -1.95 -6.9 -1.6 -8.95 -0.45 -10.15 -0.05 L-11.25 0.2 -11.75 0.15 M-8.15 -6.75 L-8.15 -6.7 -8.1 -6.75 -8.15 -6.75"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair2',
	props: {
		size: Number,
		hairFirstColor: String,
		hairBorderColor: String
	}
});
</script>
