<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${67.3 * size}px`"
		:width="`${71.55 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${35.75 * size}, ${33.65 * size})`">
			<path d="M-33.3 -9.75 L-33.2 -9.9 -33.25 -9.7 -33.3 -9.75" fill="#ffffff" fill-rule="evenodd" stroke="none" />
			<path
				d="M-35.3 -7.2 L-35.6 -7.6 Q-35.6 -10.25 -31.85 -13.1 -27.6 -16.3 -20.75 -17.75 -17.95 -18.3 -15.7 -20.4 L-12.35 -23.5 -7.3 -26.75 -3.9 -28.5 -3.15 -31.95 Q-2.15 -33.65 0.3 -33.65 2.2 -33.65 2.85 -31.05 L2.95 -30.5 Q8.95 -29.25 13.9 -26.85 18.85 -24.5 22.75 -21.1 26.85 -17.5 29.5 -12.75 32.3 -7.8 33.8 -2.0 35.2 3.25 34.85 6.65 35.2 7.65 35.35 11.15 L35.8 15.9 Q35.8 18.9 34.35 23.0 32.1 29.5 27.65 29.65 24.75 33.65 20.55 33.65 13.7 33.65 11.95 32.8 L7.55 33.5 Q4.55 33.5 2.4 29.3 L2.2 28.85 1.65 27.65 1.4 27.65 Q-1.6 27.65 -2.6 24.35 L-3.05 20.95 Q-3.05 18.75 -1.85 15.5 -1.0 13.15 -0.05 12.3 -3.1 7.65 -3.9 5.6 -5.65 0.55 -6.2 -4.6 L-6.5 -9.45 -6.5 -9.65 Q-8.9 -7.65 -16.1 -3.7 -18.85 -2.25 -20.5 0.1 L-22.8 3.95 -23.1 3.55 -23.15 3.35 -23.15 3.25 -23.15 3.15 Q-23.1 1.85 -22.3 0.55 L-20.8 -1.4 -19.85 -2.3 -17.6 -4.05 -6.45 -10.95 -6.45 -11.15 -6.2 -14.55 -6.05 -15.65 -6.1 -15.65 -5.75 -17.55 -5.05 -20.15 -3.75 -23.15 -3.65 -22.85 -4.45 -18.1 Q-5.3 -12.9 -5.3 -9.45 L-5.2 -6.5 -5.0 -4.6 Q-4.25 1.4 -1.65 6.75 -0.35 9.35 1.45 11.85 L1.6 12.05 3.2 14.1 6.1 17.2 7.2 18.2 7.15 18.15 7.85 18.65 10.2 20.1 10.6 20.3 8.0 19.85 Q6.9 19.45 6.2 18.8 L4.8 17.6 Q3.45 16.6 2.25 15.3 L0.8 13.55 -0.2 15.1 Q-2.0 18.0 -2.0 20.95 L-1.8 23.1 -1.65 23.7 -1.65 23.75 -1.5 24.1 -1.4 24.35 Q-0.65 25.6 1.05 26.1 L0.85 24.85 1.15 23.95 1.45 23.2 1.7 22.55 2.45 21.1 2.75 20.7 0.9 18.8 Q1.35 18.35 1.7 18.35 3.85 18.35 5.65 21.9 5.65 22.3 4.95 22.85 L3.6 21.5 2.2 24.95 3.6 28.55 3.8 28.85 Q4.95 30.95 6.25 31.7 L6.9 31.95 7.5 32.05 7.65 32.05 9.15 31.9 10.3 31.65 14.2 30.4 17.95 28.85 18.15 28.75 18.65 28.85 18.7 28.9 18.75 29.3 Q18.75 30.05 14.85 31.7 L14.55 31.85 18.05 32.3 Q22.7 32.3 24.8 30.75 25.85 29.95 29.5 25.25 L29.8 25.55 29.05 27.3 31.15 26.05 Q32.35 25.05 32.95 22.7 34.45 17.0 34.45 15.9 L34.15 11.75 33.95 10.4 33.2 12.05 32.9 12.5 31.35 14.15 31.95 12.05 32.05 11.85 32.1 11.75 32.6 10.4 33.05 8.85 33.4 4.7 Q33.35 1.8 32.8 -1.0 L31.5 -5.5 31.25 -6.15 30.45 -8.0 Q28.85 -11.4 26.75 -14.45 L25.3 -16.5 24.95 -16.95 Q22.25 -20.4 18.6 -22.85 L16.85 -23.95 Q12.15 -26.65 7.0 -27.95 L4.6 -28.5 2.45 -28.9 1.9 -29.95 1.65 -30.6 1.1 -31.8 1.0 -31.95 0.4 -32.45 -0.3 -32.4 -1.45 -31.95 -2.4 -28.35 -7.3 -25.4 -11.9 -22.45 Q-14.95 -18.7 -19.8 -16.9 -28.25 -14.5 -30.55 -13.0 L-30.85 -12.75 -30.95 -12.7 -32.7 -10.65 -33.2 -9.9 -33.3 -9.75 Q-34.5 -7.85 -35.25 -7.15 L-35.3 -7.2 M26.7 18.45 Q27.3 17.9 29.0 16.85 L30.55 15.05 Q30.85 15.05 30.85 15.4 30.85 15.9 29.45 17.2 L27.4 18.55 26.8 18.55 26.7 18.45 M27.3 20.25 L26.1 20.7 Q25.35 20.7 25.35 20.45 25.65 20.05 27.1 19.55 L28.45 19.2 28.7 19.15 28.9 19.2 Q28.85 19.6 27.3 20.25 M-29.7 0.2 L-29.85 0.0 Q-29.85 -0.85 -27.2 -2.65 -24.45 -4.5 -22.35 -4.55 L-22.2 -4.55 -20.85 -4.1 -21.9 -3.85 -23.1 -3.5 -26.25 -2.15 -29.3 0.4 -29.55 0.3 -29.6 0.3 -29.7 0.2"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-24.55 4.15 L-24.65 4.2 -24.4 3.65 -24.55 4.15 M-26.25 4.3 L-26.65 4.2 -26.6 3.0 Q-26.7 0.9 -27.2 0.1 L-26.3 -0.4 -26.3 -0.35 -26.3 0.5 -26.25 4.3 M-27.85 3.95 L-29.15 3.7 Q-31.95 2.7 -33.75 -0.1 -35.75 -3.1 -35.75 -4.85 L-35.5 -7.35 -35.3 -7.2 -35.25 -7.15 Q-34.5 -7.85 -33.3 -9.75 L-33.25 -9.7 -33.2 -9.9 -32.7 -10.65 -30.95 -12.7 -30.85 -12.75 -30.55 -13.0 -29.55 -13.5 Q-31.4 -11.15 -31.4 -8.7 -31.4 -5.95 -28.05 -5.95 -24.25 -5.95 -21.95 -8.7 L-18.2 -13.75 Q-16.1 -15.85 -10.1 -16.85 -8.1 -17.15 -6.85 -18.5 L-5.05 -20.15 -5.75 -17.55 -6.1 -15.65 Q-12.4 -12.5 -14.6 -10.7 L-17.4 -8.15 -19.6 -5.85 -22.35 -4.55 Q-24.45 -4.5 -27.2 -2.65 -29.85 -0.85 -29.85 0.0 L-29.7 0.2 Q-29.6 0.7 -29.0 0.7 L-28.5 0.65 -27.85 3.6 -27.85 3.95 M-0.3 -32.4 L0.4 -32.45 1.0 -31.95 1.1 -31.8 1.65 -30.6 1.9 -29.95 2.45 -28.9 4.6 -28.5 7.0 -27.95 6.3 -27.9 0.6 -27.0 Q-0.35 -27.0 -0.35 -27.95 L0.0 -29.9 -0.3 -32.4 M18.6 -22.85 Q22.25 -20.4 24.95 -16.95 L25.3 -16.5 26.75 -14.45 Q28.85 -11.4 30.45 -8.0 L31.25 -6.15 31.05 -3.8 30.55 3.95 29.1 10.25 Q28.4 13.0 26.45 15.0 24.7 16.45 24.7 16.7 24.7 17.1 25.0 16.9 L25.05 16.9 22.7 18.2 Q18.7 20.0 13.95 20.0 11.55 20.0 9.1 19.05 7.75 18.4 7.2 18.2 L6.1 17.2 3.2 14.1 1.6 12.05 1.45 11.85 Q-0.35 9.35 -1.65 6.75 -4.25 1.4 -5.0 -4.6 L-5.2 -6.5 -4.45 -4.6 -1.95 2.9 Q0.0 6.8 4.55 10.2 8.8 13.4 11.4 13.4 18.7 13.4 22.7 9.0 24.2 7.35 25.2 5.15 26.45 2.55 26.9 -0.65 L27.1 -3.55 Q27.1 -6.35 26.05 -10.5 24.9 -15.1 23.4 -16.7 L18.25 -23.05 18.6 -22.85 M32.8 -1.0 Q33.35 1.8 33.4 4.7 L33.05 8.85 29.7 12.95 28.7 14.0 29.2 13.5 Q30.85 10.6 32.2 5.15 32.6 3.6 32.8 -1.0 M6.25 31.7 Q4.95 30.95 3.8 28.85 L3.6 28.55 2.2 24.95 3.6 21.5 4.95 22.85 Q5.65 22.3 5.65 21.9 3.85 18.35 1.7 18.35 1.35 18.35 0.9 18.8 L2.75 20.7 2.45 21.1 2.7 20.75 2.35 20.65 Q0.65 22.9 -0.35 22.9 -1.25 22.9 -1.85 22.4 L-1.9 22.35 -1.8 23.1 -2.0 20.95 Q-2.0 18.0 -0.2 15.1 L0.8 13.55 2.25 15.3 Q3.45 16.6 4.8 17.6 L6.2 18.8 Q6.9 19.45 8.0 19.85 13.75 24.4 13.75 24.95 13.75 26.85 11.0 28.85 L9.85 29.6 Q7.0 31.1 6.25 31.7 M1.45 23.2 L1.15 23.95 1.2 23.45 1.45 23.2 M27.6 17.1 Q25.05 19.9 22.7 21.2 20.6 22.4 18.65 22.4 16.95 22.4 13.55 21.15 L12.4 20.75 11.4 20.65 16.3 21.05 Q19.55 21.05 22.7 19.65 26.3 18.05 29.8 14.65 L30.8 13.7 30.1 14.4 27.6 17.1 M-13.05 -9.55 L-13.5 -9.4 -12.95 -9.85 Q-9.8 -11.7 -7.95 -12.9 L-9.35 -11.25 Q-10.2 -10.4 -13.05 -9.55"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-23.1 3.55 L-23.2 3.6 -23.5 3.8 Q-23.75 4.35 -24.3 4.45 L-24.55 4.15 -24.4 3.65 -24.65 4.2 -26.25 4.3 -26.3 0.5 -26.3 -0.35 -26.3 -0.4 -27.2 0.1 Q-26.7 0.9 -26.6 3.0 L-26.65 4.2 -27.85 3.95 -27.85 3.6 -28.5 0.65 -29.0 0.7 Q-29.6 0.7 -29.7 0.2 L-29.6 0.3 -29.55 0.3 -29.3 0.4 -26.25 -2.15 -23.1 -3.5 -21.9 -3.85 -20.85 -4.1 -22.2 -4.55 -22.35 -4.55 -19.6 -5.85 -17.4 -8.15 -14.6 -10.7 Q-12.4 -12.5 -6.1 -15.65 L-6.05 -15.65 -6.2 -14.55 -6.45 -11.15 -6.45 -10.95 -17.6 -4.05 -19.85 -2.3 -20.8 -1.4 -22.3 0.55 Q-23.1 1.85 -23.15 3.15 L-23.15 3.25 -23.15 3.35 -23.1 3.55 M31.25 -6.15 L31.5 -5.5 32.8 -1.0 Q32.6 3.6 32.2 5.15 30.85 10.6 29.2 13.5 L28.7 14.0 29.7 12.95 33.05 8.85 32.6 10.4 32.1 11.75 32.05 11.85 31.95 12.05 31.35 14.15 32.9 12.5 33.2 12.05 33.95 10.4 34.15 11.75 34.45 15.9 Q34.45 17.0 32.95 22.7 32.35 25.05 31.15 26.05 L29.05 27.3 29.8 25.55 29.5 25.25 Q25.85 29.95 24.8 30.75 22.7 32.3 18.05 32.3 L14.55 31.85 14.85 31.7 Q18.75 30.05 18.75 29.3 L18.7 28.9 18.65 28.85 18.15 28.75 17.95 28.85 14.2 30.4 10.3 31.65 9.15 31.9 7.65 32.05 7.5 32.05 6.9 31.95 6.25 31.7 Q7.0 31.1 9.85 29.6 L11.0 28.85 Q13.75 26.85 13.75 24.95 13.75 24.4 8.0 19.85 L10.6 20.3 10.2 20.1 7.85 18.65 7.15 18.15 7.2 18.2 Q7.75 18.4 9.1 19.05 11.55 20.0 13.95 20.0 18.7 20.0 22.7 18.2 L25.05 16.9 25.0 16.9 Q24.7 17.1 24.7 16.7 24.7 16.45 26.45 15.0 28.4 13.0 29.1 10.25 L30.55 3.95 31.05 -3.8 31.25 -6.15 M2.45 21.1 L1.7 22.55 1.45 23.2 1.2 23.45 1.15 23.95 0.85 24.85 1.05 26.1 Q-0.65 25.6 -1.4 24.35 L-1.5 24.1 -1.65 23.75 -1.65 23.7 -1.8 23.1 -1.9 22.35 -1.85 22.4 Q-1.25 22.9 -0.35 22.9 0.65 22.9 2.35 20.65 L2.7 20.75 2.45 21.1 M27.6 17.1 L30.1 14.4 30.8 13.7 29.8 14.65 Q26.3 18.05 22.7 19.65 19.55 21.05 16.3 21.05 L11.4 20.65 12.4 20.75 13.55 21.15 Q16.95 22.4 18.65 22.4 20.6 22.4 22.7 21.2 25.05 19.9 27.6 17.1 M26.7 18.45 L26.8 18.55 27.4 18.55 29.45 17.2 Q30.85 15.9 30.85 15.4 30.85 15.05 30.55 15.05 L29.0 16.85 Q27.3 17.9 26.7 18.45 M27.3 20.25 Q28.85 19.6 28.9 19.2 L28.7 19.15 28.45 19.2 27.1 19.55 Q25.65 20.05 25.35 20.45 25.35 20.7 26.1 20.7 L27.3 20.25 M-13.05 -9.55 Q-10.2 -10.4 -9.35 -11.25 L-7.95 -12.9 Q-9.8 -11.7 -12.95 -9.85 L-13.5 -9.4 -13.05 -9.55"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-30.55 -13.0 Q-28.25 -14.5 -19.8 -16.9 -14.95 -18.7 -11.9 -22.45 L-7.3 -25.4 -2.4 -28.35 -1.45 -31.95 -0.3 -32.4 0.0 -29.9 -0.35 -27.95 Q-0.35 -27.0 0.6 -27.0 L6.3 -27.9 7.0 -27.95 Q12.15 -26.65 16.85 -23.95 L18.6 -22.85 18.25 -23.05 23.4 -16.7 Q24.9 -15.1 26.05 -10.5 27.1 -6.35 27.1 -3.55 L26.9 -0.65 Q26.45 2.55 25.2 5.15 24.2 7.35 22.7 9.0 18.7 13.4 11.4 13.4 8.8 13.4 4.55 10.2 0.0 6.8 -1.95 2.9 L-4.45 -4.6 -5.2 -6.5 -5.3 -9.45 Q-5.3 -12.9 -4.45 -18.1 L-3.65 -22.85 -3.75 -23.15 -5.05 -20.15 -6.85 -18.5 Q-8.1 -17.15 -10.1 -16.85 -16.1 -15.85 -18.2 -13.75 L-21.95 -8.7 Q-24.25 -5.95 -28.05 -5.95 -31.4 -5.95 -31.4 -8.7 -31.4 -11.15 -29.55 -13.5 L-30.55 -13.0"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0383, 0.0, 0.0, 0.0383, 6.4, -18.3)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArm0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
