<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.1 * size}px`"
		:width="`${10.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-0.05 * size}, 0.0)`">
			<path
				d="M6.85 0.1 L7.05 0.1 7.7 0.3 8.8 0.8 Q9.95 1.55 10.1 2.25 10.3 3.8 9.5 4.65 8.7 4.5 7.8 4.65 L7.7 4.65 7.2 4.75 5.2 5.25 5.05 5.2 6.1 4.8 6.3 4.8 Q8.7 4.8 8.7 2.7 8.7 0.45 6.85 0.1 M2.3 2.4 L1.65 2.2 1.4 1.9 2.3 1.85 2.3 2.4 M1.15 5.35 L1.6 5.4 Q2.75 5.4 2.75 4.6 L2.5 3.75 2.5 3.7 2.55 3.8 2.55 3.9 2.6 4.05 2.85 4.6 3.45 5.4 3.15 5.6 2.2 6.0 2.1 6.05 1.4 6.1 0.9 5.95 0.6 5.7 Q0.8 5.55 1.15 5.35"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.1 4.8 L5.05 5.2 Q3.6 4.6 3.35 2.8 2.95 0.4 5.5 0.05 3.65 0.35 3.65 2.5 3.65 4.7 6.1 4.8 M6.45 1.55 Q6.45 2.25 5.25 2.25 4.2 2.25 4.2 1.75 4.2 0.75 5.65 0.75 6.15 0.75 6.45 1.55 M6.9 3.8 Q6.3 3.8 6.3 3.4 6.3 2.9 7.1 2.9 7.55 2.9 7.55 3.3 7.55 3.8 6.9 3.8 M1.65 2.2 Q0.35 2.2 0.35 3.85 0.35 5.1 1.15 5.35 0.8 5.55 0.6 5.7 0.2 5.3 0.1 4.5 -0.25 2.25 1.4 1.9 L1.65 2.2 M2.1 4.5 L1.75 4.85 Q1.3 4.85 1.3 4.4 1.3 4.1 1.65 4.1 2.1 4.1 2.1 4.5 M0.55 3.25 Q0.55 2.75 1.2 2.75 1.65 2.75 1.65 3.25 1.65 3.7 1.1 3.7 0.55 3.7 0.55 3.25"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.85 0.1 Q8.7 0.45 8.7 2.7 8.7 4.8 6.3 4.8 L6.1 4.8 Q3.65 4.7 3.65 2.5 3.65 0.35 5.5 0.05 L6.1 0.0 6.85 0.1 M6.9 3.8 Q7.55 3.8 7.55 3.3 7.55 2.9 7.1 2.9 6.3 2.9 6.3 3.4 6.3 3.8 6.9 3.8 M6.45 1.55 Q6.15 0.75 5.65 0.75 4.2 0.75 4.2 1.75 4.2 2.25 5.25 2.25 6.45 2.25 6.45 1.55 M1.65 2.2 L2.3 2.4 2.45 3.15 2.55 3.65 2.55 3.85 2.55 3.9 2.55 3.8 2.5 3.7 2.5 3.75 2.75 4.6 Q2.75 5.4 1.6 5.4 L1.15 5.35 Q0.35 5.1 0.35 3.85 0.35 2.2 1.65 2.2 M0.55 3.25 Q0.55 3.7 1.1 3.7 1.65 3.7 1.65 3.25 1.65 2.75 1.2 2.75 0.55 2.75 0.55 3.25 M2.1 4.5 Q2.1 4.1 1.65 4.1 1.3 4.1 1.3 4.4 1.3 4.85 1.75 4.85 L2.1 4.5"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye0',
	props: {
		size: Number
	}
});
</script>
