<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.8 * size}px`"
		:width="`${16.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.15 * size}, ${3.4 * size})`">
			<path
				d="M-0.65 0.9 L-0.65 0.2 -0.5 -1.7 -0.4 -2.05 0.35 -3.0 Q0.9 -3.4 1.7 -3.4 L3.3 -3.35 3.6 -3.35 Q4.7 -3.35 5.6 -2.85 L6.6 -2.4 6.85 -0.65 Q5.3 1.75 3.5 1.75 0.45 1.75 -0.65 0.9 M-8.0 0.9 L-7.05 -0.5 -6.45 -1.05 -5.4 -1.6 -4.85 -1.8 -3.3 -1.95 -2.9 -1.9 Q-2.6 -1.4 -2.45 -0.65 -2.45 0.05 -3.25 0.9 -4.3 2.0 -6.05 2.0 -7.65 2.0 -8.0 0.9"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.6 -2.4 Q8.1 -1.45 8.1 0.4 8.8 3.4 4.7 3.4 0.0 3.4 -0.65 1.15 L-0.65 0.9 Q0.45 1.75 3.5 1.75 5.3 1.75 6.85 -0.65 L6.6 -2.4 M-2.9 -1.9 L-1.75 -1.6 -1.6 -1.9 -1.7 -1.45 -1.55 1.35 -1.95 2.05 -2.25 2.4 Q-3.15 3.35 -5.15 3.35 -8.15 3.35 -8.15 1.4 L-8.0 0.9 Q-7.65 2.0 -6.05 2.0 -4.3 2.0 -3.25 0.9 -2.45 0.05 -2.45 -0.65 -2.6 -1.4 -2.9 -1.9"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye10',
	props: {
		size: Number
	}
});
</script>
