<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${7.2 * size}px`"
		:width="`${14.25 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${6.9 * size}, ${4.55 * size})`">
			<path
				d="M6.7 -3.0 L6.75 -2.95 Q7.45 -1.85 7.35 -1.2 7.55 1.55 4.1 1.55 1.05 1.55 0.75 -1.45 L0.75 -1.6 Q0.6 -4.55 4.05 -4.55 5.65 -4.6 6.7 -3.0 M-0.8 -0.15 Q-0.65 2.65 -3.9 2.65 -6.9 2.65 -6.9 -0.35 -7.05 -1.05 -5.95 -2.25 L-5.9 -2.3 Q-4.75 -3.5 -3.6 -3.4 -0.8 -3.6 -0.8 -0.15"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.05 -1.55 L2.0 -1.85 Q2.0 -3.0 3.25 -3.2 4.5 -3.35 4.5 -2.3 4.5 -1.95 4.15 -1.65 3.7 -1.3 2.95 -1.3 L2.05 -1.55 M4.9 -1.05 Q5.45 -0.95 5.45 -0.4 L5.3 -0.15 4.9 0.0 Q4.35 0.0 4.35 -0.55 4.35 -1.15 4.9 -1.05 M-4.95 -1.45 Q-3.85 -2.05 -3.85 -0.95 -3.85 0.45 -5.2 0.45 -5.7 0.45 -6.1 -0.25 -6.1 -0.85 -4.95 -1.45 M-2.75 1.05 L-3.05 1.15 Q-3.5 1.15 -3.6 0.55 L-3.1 0.15 Q-2.65 0.05 -2.65 0.5 L-2.75 1.05"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye11',
	props: {
		size: Number
	}
});
</script>
