<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.8 * size}px`"
		:width="`${16.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.15 * size}, ${3.4 * size})`">
			<path
				d="M1.1 0.35 Q0.65 0.05 0.65 -0.55 0.65 -1.75 2.45 -1.75 4.4 -1.75 4.4 -0.5 4.4 0.6 2.4 0.6 L1.2 0.4 1.1 0.35 M-6.25 1.35 L-6.55 0.6 Q-6.55 -0.8 -4.8 -0.8 -3.5 -0.8 -3.45 0.3 L-3.55 0.85 Q-3.85 1.6 -5.3 1.6 L-5.35 1.6 -5.85 1.55 -6.25 1.35"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.6 -2.85 L6.6 -2.4 Q8.1 -1.45 8.1 0.4 8.8 3.4 4.7 3.4 0.0 3.4 -0.65 1.15 L-0.65 0.9 -0.65 0.2 -0.5 -1.7 -0.4 -2.05 0.35 -3.0 Q0.9 -3.4 1.7 -3.4 L3.3 -3.35 3.6 -3.35 Q4.7 -3.35 5.6 -2.85 M1.2 0.4 L2.4 0.6 Q4.4 0.6 4.4 -0.5 4.4 -1.75 2.45 -1.75 0.65 -1.75 0.65 -0.55 0.65 0.05 1.1 0.35 0.7 0.4 0.7 0.9 0.7 2.3 4.0 2.3 6.1 2.3 6.1 1.1 L5.45 0.5 3.9 0.85 1.6 0.55 1.2 0.4 M-7.05 -0.5 L-6.45 -1.05 -5.4 -1.6 -4.85 -1.8 -3.3 -1.95 -1.75 -1.6 -1.6 -1.9 -1.7 -1.45 -1.55 1.35 -1.95 2.05 -2.25 2.4 Q-3.15 3.35 -5.15 3.35 -8.15 3.35 -8.15 1.4 L-8.0 0.9 -7.05 -0.5 M-3.55 0.85 L-3.45 0.3 Q-3.5 -0.8 -4.8 -0.8 -6.55 -0.8 -6.55 0.6 L-6.25 1.35 Q-6.95 1.45 -6.95 1.8 -6.95 2.6 -4.75 2.6 -2.75 2.6 -2.75 1.25 -2.75 0.6 -3.35 0.6 L-3.55 0.85"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.2 0.4 L1.6 0.55 3.9 0.85 5.45 0.5 6.1 1.1 Q6.1 2.3 4.0 2.3 0.7 2.3 0.7 0.9 0.7 0.4 1.1 0.35 L1.2 0.4 M-3.55 0.85 L-3.35 0.6 Q-2.75 0.6 -2.75 1.25 -2.75 2.6 -4.75 2.6 -6.95 2.6 -6.95 1.8 -6.95 1.45 -6.25 1.35 L-5.85 1.55 -5.35 1.6 -5.3 1.6 Q-3.85 1.6 -3.55 0.85"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye13',
	props: {
		size: Number
	}
});
</script>
