<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.0 * size}px`"
		:width="`${17.6 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${10.0 * size}, ${2.85 * size})`">
			<path
				d="M3.7 2.65 L1.95 2.7 1.8 2.7 -1.8 2.25 -1.85 2.0 -2.2 2.05 Q-2.8 1.7 -2.8 1.1 -2.8 0.25 -2.35 -0.45 -1.2 -1.3 0.8 -1.3 2.85 -1.3 3.65 0.05 4.05 0.75 4.05 1.65 L3.7 2.65 M-8.5 0.15 Q-7.05 0.6 -7.05 1.8 L-7.3 2.95 -7.85 3.1 -8.4 3.15 -8.5 3.15 Q-9.7 3.15 -10.0 1.8 L-10.0 1.6 -9.95 1.3 -9.9 1.15 -9.85 1.1 Q-9.55 0.35 -8.5 0.15"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-1.8 2.25 L-2.2 2.05 -1.85 2.0 -1.8 2.25 M-2.35 -0.45 Q-1.25 -2.1 2.4 -2.7 7.6 -3.55 7.6 0.2 7.6 2.25 3.7 2.65 L4.05 1.65 Q4.05 0.75 3.65 0.05 2.85 -1.3 0.8 -1.3 -1.2 -1.3 -2.35 -0.45 M-7.85 3.1 L-7.3 2.95 -7.05 1.8 Q-7.05 0.6 -8.5 0.15 L-8.05 0.1 Q-6.15 -0.05 -6.15 1.6 -6.15 2.15 -6.75 2.6 L-7.85 3.1"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye14',
	props: {
		size: Number
	}
});
</script>
