<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${4.6 * size}px`"
		:width="`${12.95 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${9.25 * size}, ${2.25 * size})`">
			<path
				d="M3.7 -0.1 Q3.7 1.7 1.45 1.8 L1.15 1.85 Q-0.25 1.8 -1.2 0.5 L-1.15 0.4 -1.3 -0.3 -0.75 -1.3 Q-0.1 -2.05 0.5 -2.05 L1.05 -1.9 0.7 -1.95 1.2 -1.85 1.75 -2.25 2.5 -2.1 2.55 -2.05 3.3 -1.5 Q3.7 -0.9 3.7 -0.1 M0.05 1.0 L1.0 1.3 2.35 0.95 2.85 0.3 2.2 0.25 1.0 0.65 Q0.5 0.65 -0.1 0.25 -0.3 0.25 -0.3 0.55 L0.05 1.0 M-7.15 1.85 Q-7.55 2.35 -8.2 2.35 -9.2 2.35 -9.25 1.2 -9.25 0.05 -7.85 -0.1 -6.85 -0.2 -6.85 1.25 L-7.15 1.85 M-7.4 1.6 L-7.4 1.45 Q-7.45 1.25 -7.7 1.25 L-8.1 1.35 Q-8.4 0.75 -8.6 1.0 L-8.75 1.55 Q-8.75 2.0 -8.05 2.0 -7.4 2.0 -7.4 1.6"
				fill="#330099"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.05 1.0 L-0.3 0.55 Q-0.3 0.25 -0.1 0.25 0.5 0.65 1.0 0.65 L2.2 0.25 2.85 0.3 2.35 0.95 1.0 1.3 0.05 1.0 M-7.4 1.6 Q-7.4 2.0 -8.05 2.0 -8.75 2.0 -8.75 1.55 L-8.6 1.0 Q-8.4 0.75 -8.1 1.35 L-7.7 1.25 Q-7.45 1.25 -7.4 1.45 L-7.4 1.6"
				fill="#66ffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.55 -0.9 Q1.45 -0.75 1.45 0.0 1.45 0.55 0.65 0.55 0.25 0.55 -0.1 0.25 L-0.35 -0.15 Q-0.35 -1.0 0.55 -0.9 M-8.65 1.8 L-9.1 1.35 Q-9.1 0.95 -8.55 0.75 -8.05 0.55 -8.05 1.15 L-8.25 1.55 -8.65 1.8"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye16',
	props: {
		size: Number
	}
});
</script>
