<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${5.8 * size}px`"
		:width="`${17.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${3.1 * size}, ${-0.1 * size})`">
			<path
				d="M6.8 4.3 Q6.9 4.9 8.5 4.9 12.3 4.9 12.3 3.25 12.3 2.65 11.75 2.65 10.5 3.8 8.7 3.8 L9.3 3.15 Q9.3 2.25 7.8 2.25 6.1 2.25 6.1 3.5 L6.3 3.95 6.8 4.3 M14.3 2.95 Q14.3 3.85 13.6 4.7 12.55 5.9 10.5 5.9 L8.4 5.55 1.95 5.15 Q1.65 5.15 0.9 5.5 L-0.75 5.8 Q-2.2 5.8 -2.8 4.9 L-3.1 3.9 -2.75 2.8 -2.1 2.0 -1.9 2.05 -2.15 2.4 3.4 1.95 5.3 1.45 7.5 0.75 10.45 0.1 Q12.15 0.1 13.35 1.3 14.3 2.25 14.3 2.95 M-0.05 3.95 Q-0.1 3.4 -1.05 3.4 -1.7 3.4 -1.7 3.85 L-1.65 4.0 -1.9 4.25 Q-2.0 4.8 -1.2 4.8 0.25 4.8 0.25 4.25 L-0.05 3.95"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.8 4.3 L6.3 3.95 6.1 3.5 Q6.1 2.25 7.8 2.25 9.3 2.25 9.3 3.15 L8.7 3.8 8.55 3.9 7.2 4.35 6.8 4.3 M-1.65 4.0 L-1.7 3.85 Q-1.7 3.4 -1.05 3.4 -0.1 3.4 -0.05 3.95 L-0.05 4.0 Q-0.05 4.5 -0.85 4.5 -1.55 4.5 -1.65 4.0"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M8.7 3.8 Q10.5 3.8 11.75 2.65 12.3 2.65 12.3 3.25 12.3 4.9 8.5 4.9 6.9 4.9 6.8 4.3 L7.2 4.35 8.55 3.9 8.7 3.8 M-0.05 3.95 L0.25 4.25 Q0.25 4.8 -1.2 4.8 -2.0 4.8 -1.9 4.25 L-1.65 4.0 Q-1.55 4.5 -0.85 4.5 -0.05 4.5 -0.05 4.0 L-0.05 3.95"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye17',
	props: {
		size: Number
	}
});
</script>
