<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.1 * size}px`"
		:width="`${10.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-0.05 * size}, 0.0)`">
			<path
				d="M8.8 0.8 Q9.95 1.55 10.1 2.25 10.3 3.8 9.5 4.65 8.7 4.5 7.8 4.65 L7.7 4.65 7.2 4.75 5.2 5.25 5.05 5.2 Q3.6 4.6 3.35 2.8 2.95 0.4 5.5 0.05 L5.55 0.05 7.05 0.1 7.7 0.3 8.8 0.8 M6.7 2.45 Q6.45 1.2 5.8 1.2 4.4 1.2 4.4 2.35 4.4 3.4 5.5 3.4 6.7 3.4 6.7 2.45 M9.0 3.65 Q8.85 3.2 8.5 3.2 L7.05 3.7 Q4.5 4.05 4.5 4.3 4.5 4.75 5.8 4.75 L7.7 4.4 Q9.0 4.0 9.0 3.65 M1.4 1.9 L2.3 1.85 2.35 3.0 2.35 3.15 2.35 3.1 2.55 3.85 2.55 3.9 2.6 4.05 2.85 4.6 3.45 5.4 3.15 5.6 2.2 6.0 2.1 6.05 1.4 6.1 0.9 5.95 0.6 5.7 Q0.2 5.3 0.1 4.5 -0.25 2.25 1.4 1.9 M1.3 4.2 Q2.0 4.2 2.0 3.7 1.95 2.7 1.35 2.7 0.65 2.7 0.65 3.4 0.65 4.2 1.3 4.2 M0.95 4.7 Q0.4 4.7 0.4 5.15 0.4 5.75 1.55 5.75 2.7 5.75 2.7 5.0 2.7 4.55 2.3 4.55 L1.45 4.85 0.95 4.7"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.7 2.45 Q6.7 3.4 5.5 3.4 4.4 3.4 4.4 2.35 4.4 1.2 5.8 1.2 6.45 1.2 6.7 2.45 M1.3 4.2 Q0.65 4.2 0.65 3.4 0.65 2.7 1.35 2.7 1.95 2.7 2.0 3.7 2.0 4.2 1.3 4.2"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M9.0 3.65 Q9.0 4.0 7.7 4.4 L5.8 4.75 Q4.5 4.75 4.5 4.3 4.5 4.05 7.05 3.7 L8.5 3.2 Q8.85 3.2 9.0 3.65 M0.95 4.7 L1.45 4.85 2.3 4.55 Q2.7 4.55 2.7 5.0 2.7 5.75 1.55 5.75 0.4 5.75 0.4 5.15 0.4 4.7 0.95 4.7"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye2',
	props: {
		size: Number
	}
});
</script>
