<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${5.55 * size}px`"
		:width="`${9.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${1.35 * size}, ${0.6 * size})`">
			<path
				d="M5.1 -0.05 Q5.75 1.55 4.85 3.1 L4.5 3.3 4.3 3.4 Q1.35 4.25 -0.2 1.5 L0.9 1.1 4.6 0.05 5.1 -0.05"
				fill="#000000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.1 -0.05 L7.85 -0.1 7.5 1.05 7.0 2.05 6.4 2.95 5.55 3.7 Q4.95 4.25 4.2 4.4 L3.55 4.45 1.7 4.1 Q0.75 3.85 0.25 3.2 L-0.85 1.8 -0.2 1.5 Q1.35 4.25 4.3 3.4 L4.5 3.3 4.85 3.1 Q5.75 1.55 5.1 -0.05"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.85 1.8 L0.25 3.2 Q0.75 3.85 1.7 4.1 L3.55 4.45 4.2 4.4 Q4.95 4.25 5.55 3.7 L6.4 2.95 7.0 2.05 7.5 1.05 7.85 -0.1"
				fill="none"
				stroke="#660000"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-opacity="0.29803923"
				stroke-width="1.0"
			/>
			<path
				d="M5.6 1.3 L5.05 1.75 4.45 1.9 4.25 1.9 3.85 1.75 3.65 1.4 Q3.6 1.1 4.1 0.95 L4.55 0.9 5.05 0.85 Q5.5 0.85 5.6 1.25 L5.6 1.3"
				fill="#ffffff"
				fill-opacity="0.8"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye3',
	props: {
		size: Number
	}
});
</script>
