<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${3.8 * size}px`"
		:width="`${7.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M5.3 3.2 L4.5 3.6 3.6 3.8 2.35 3.5 Q0.85 3.0 0.0 1.6 3.35 -0.2 7.15 0.05 6.75 2.0 5.3 3.2 M1.95 1.75 L2.45 2.3 4.15 2.4 Q4.95 2.05 5.25 1.0 L1.95 1.75"
				fill="#000000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.95 1.75 L5.25 1.0 Q4.95 2.05 4.15 2.4 L2.45 2.3 1.95 1.75"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye4',
	props: {
		size: Number
	}
});
</script>
