<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${4.9 * size}px`"
		:width="`${15.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${7.55 * size}, ${2.45 * size})`">
			<path
				d="M1.35 -1.65 L1.0 -1.45 3.3 -1.9 Q4.9 -1.9 4.9 -0.35 4.9 1.5 3.05 2.4 -0.5 2.25 -0.7 0.0 L-0.7 -0.25 -0.65 -0.5 0.45 -1.15 1.35 -1.65 M-5.85 2.3 Q-7.3 2.1 -7.5 1.4 L-7.55 1.1 Q-7.55 -0.2 -6.2 -0.2 L-5.95 -0.15 -6.0 0.1 -5.85 0.3 -5.5 1.0 -5.4 1.35 Q-5.4 1.7 -5.7 1.8 L-5.85 2.3"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.05 2.4 Q4.9 1.5 4.9 -0.35 4.9 -1.9 3.3 -1.9 L1.0 -1.45 1.35 -1.65 2.15 -2.05 2.65 -2.2 2.7 -2.25 3.05 -2.35 3.15 -2.35 3.2 -2.4 3.3 -2.4 3.35 -2.45 3.6 -2.45 5.1 -2.35 5.7 -2.15 6.7 -1.5 6.9 -1.25 Q7.6 -0.35 7.6 0.35 L7.0 1.45 6.35 1.9 6.1 2.1 5.0 2.35 4.45 2.4 3.5 2.4 3.05 2.4 M-5.85 2.3 L-5.7 1.8 Q-5.4 1.7 -5.4 1.35 L-5.5 1.0 -5.85 0.3 -6.0 0.1 -5.95 -0.15 -4.35 0.05 -4.6 0.8 -4.95 2.05 Q-5.35 2.2 -5.4 2.3 L-5.85 2.3"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.9 -0.25 Q2.7 -1.35 1.9 -1.35 1.0 -1.35 1.0 -0.8 L0.95 -0.25 Q0.95 0.5 2.1 0.5 2.9 0.5 2.9 -0.25 M4.6 -1.25 L5.2 -0.15 5.35 0.3 Q5.35 2.35 2.9 2.35 L2.4 2.45 Q1.4 2.45 0.75 1.35 0.3 0.55 0.3 0.05 0.3 -2.15 2.6 -2.15 3.8 -2.15 4.6 -1.25 M-5.4 1.45 Q-5.4 1.15 -5.6 1.15 -6.0 1.15 -6.0 1.4 L-5.7 1.65 -5.4 1.45 M3.8 1.35 L4.1 1.05 3.8 0.75 Q3.4 0.75 3.4 1.0 3.4 1.35 3.8 1.35 M-7.25 1.05 Q-7.25 -0.45 -5.95 -0.45 -5.35 -0.45 -5.35 0.0 L-5.1 0.6 -4.9 1.05 Q-4.9 2.15 -5.9 2.15 -7.25 2.15 -7.25 1.05 M-6.9 0.3 Q-6.9 0.9 -6.45 0.9 -5.8 0.9 -5.8 0.4 -5.8 -0.25 -6.5 -0.25 -6.9 -0.25 -6.9 0.3"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.9 -0.25 Q2.9 0.5 2.1 0.5 0.95 0.5 0.95 -0.25 L1.0 -0.8 Q1.0 -1.35 1.9 -1.35 2.7 -1.35 2.9 -0.25 M3.8 1.35 Q3.4 1.35 3.4 1.0 3.4 0.75 3.8 0.75 L4.1 1.05 3.8 1.35 M-5.4 1.45 L-5.7 1.65 -6.0 1.4 Q-6.0 1.15 -5.6 1.15 -5.4 1.15 -5.4 1.45 M-6.9 0.3 Q-6.9 -0.25 -6.5 -0.25 -5.8 -0.25 -5.8 0.4 -5.8 0.9 -6.45 0.9 -6.9 0.9 -6.9 0.3"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye7',
	props: {
		size: Number
	}
});
</script>
