<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${4.85 * size}px`"
		:width="`${15.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${7.55 * size}, ${2.45 * size})`">
			<path
				d="M1.05 -0.45 L1.0 -0.35 0.85 0.3 0.95 0.85 Q1.2 1.35 1.95 1.35 3.05 1.35 3.05 0.4 L2.85 -0.7 Q2.6 -1.1 2.05 -1.1 1.35 -1.1 1.05 -0.45 M1.35 -1.65 L1.0 -1.45 3.3 -1.9 Q4.9 -1.9 4.9 -0.35 4.9 1.5 3.05 2.4 -0.5 2.25 -0.7 0.0 L-0.7 -0.25 -0.65 -0.5 0.45 -1.15 1.35 -1.65 M-5.85 2.3 Q-7.3 2.1 -7.5 1.4 L-7.55 1.1 Q-7.55 -0.2 -6.2 -0.2 L-5.95 -0.15 -6.0 0.1 -5.85 0.3 -6.15 0.15 Q-6.8 0.15 -6.8 1.15 L-6.8 1.25 Q-6.75 1.85 -6.0 1.85 L-5.7 1.8 -5.85 2.3"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.05 2.4 Q4.9 1.5 4.9 -0.35 4.9 -1.9 3.3 -1.9 L1.0 -1.45 1.35 -1.65 2.15 -2.05 2.65 -2.2 2.7 -2.25 3.05 -2.35 3.15 -2.35 3.2 -2.4 3.3 -2.4 3.35 -2.45 3.6 -2.45 5.1 -2.35 5.7 -2.15 6.7 -1.5 6.9 -1.25 Q7.6 -0.35 7.6 0.35 L7.0 1.45 6.35 1.9 6.1 2.1 5.0 2.35 4.45 2.4 3.5 2.4 3.05 2.4 M-5.85 2.3 L-5.7 1.8 Q-5.4 1.7 -5.4 1.35 L-5.5 1.0 -5.85 0.3 -6.0 0.1 -5.95 -0.15 -4.35 0.05 -4.6 0.8 -4.95 2.05 Q-5.35 2.2 -5.4 2.3 L-5.85 2.3"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.05 -0.45 Q1.35 -1.1 2.05 -1.1 2.6 -1.1 2.85 -0.7 L3.05 0.4 Q3.05 1.35 1.95 1.35 1.2 1.35 0.95 0.85 L0.85 0.3 1.0 -0.35 1.05 -0.45 M-5.7 1.8 L-6.0 1.85 Q-6.75 1.85 -6.8 1.25 L-6.8 1.15 Q-6.8 0.15 -6.15 0.15 L-5.85 0.3 -5.5 1.0 -5.4 1.35 Q-5.4 1.7 -5.7 1.8"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye8',
	props: {
		size: Number
	}
});
</script>
