<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${8.8 * size}px`"
		:width="`${8.95 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${4.5 * size}, ${4.4 * size})`">
			<path
				d="M4.45 -1.65 L4.45 -1.6 Q2.65 4.45 1.1 4.4 L1.0 4.35 -0.45 3.55 -4.0 3.15 -4.1 3.1 Q-4.5 2.7 -4.5 1.15 -4.35 -2.65 -2.2 -2.6 L0.65 -2.15 Q1.6 -1.7 1.6 -0.8 1.6 0.2 1.25 0.7 0.85 1.2 0.1 1.2 L-0.5 1.05 Q-0.8 0.9 -0.75 0.55 L-0.7 0.45 -0.7 0.4 0.2 -0.7 Q-0.5 -1.25 -2.1 -1.25 -3.15 -1.2 -3.15 1.05 -3.1 2.0 -1.6 2.0 -0.7 1.95 1.1 2.8 1.9 2.5 3.15 -1.65 2.95 -2.45 -2.95 -3.45 L-3.0 -3.45 -3.1 -3.5 -3.15 -3.65 -2.65 -4.2 -1.4 -4.4 Q0.9 -4.4 2.8 -3.3 4.5 -2.35 4.45 -1.65"
				:fill="tattooColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadTattoo2',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		tattooColor: String,
		size: Number
	}
});
</script>
