<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${23.35 * size}px`"
		:width="`${26.95 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${15.9 * size}, ${11.6 * size})`">
			<path
				d="M4.05 0.8 L8.15 2.45 Q10.15 3.25 10.5 4.5 L10.5 4.85 Q10.4 5.8 9.2 7.7 7.45 10.6 4.75 10.6 2.55 10.6 -2.8 7.25 L-4.65 6.1 -5.7 5.35 -6.75 4.6 -9.0 2.75 -12.3 -0.25 -14.05 -1.95 Q-15.2 -3.0 -15.55 -4.65 L-15.9 -8.3 Q-16.15 -11.25 -12.95 -10.8 L-11.95 -10.4 Q-10.1 -9.45 -8.7 -7.8 L-8.45 -7.6 -5.65 -5.0 Q-3.0 -2.85 0.2 -1.05 L1.35 -0.35 2.2 0.05 2.7 0.3 3.45 0.6 4.0 0.8 4.05 0.8 M9.6 5.05 L9.7 4.4 9.05 3.55 6.9 2.5 6.7 2.45 6.6 2.4 5.7 2.05 5.5 1.95 5.35 1.9 5.2 1.85 3.35 1.1 2.0 0.5 0.25 -0.35 -2.65 -2.2 -5.65 -4.3 -7.45 -5.8 -8.6 -6.95 -8.7 -7.05 Q-10.35 -9.1 -12.1 -9.75 L-14.8 -9.95 Q-15.75 -8.45 -14.95 -4.65 L-14.95 -4.6 -14.5 -3.7 -13.75 -2.75 -12.7 -1.5 -10.95 0.1 -8.05 2.8 -4.15 5.8 -4.05 5.85 -3.3 6.3 -2.9 6.55 -1.9 7.2 -0.95 7.8 0.0 8.4 0.15 8.45 0.45 8.6 Q2.55 9.9 4.55 9.95 6.55 9.95 8.2 7.65 L9.2 6.0 9.55 5.2 9.6 5.05"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.7 0.3 L5.5 -2.2 8.75 -4.9 9.4 -4.7 9.45 -4.35 Q9.3 -5.5 9.9 -5.5 10.45 -5.55 10.55 -4.7 10.65 -3.3 9.2 -2.25 L4.55 0.45 4.05 0.8 4.0 0.8 3.45 0.6 2.7 0.3 M10.5 4.85 L10.8 5.2 11.05 5.85 Q9.7 11.75 5.9 11.75 5.3 11.75 1.2 10.25 -2.85 8.7 -3.65 8.7 L-4.15 8.9 -5.4 9.0 Q-6.6 9.0 -7.1 8.5 L-7.4 7.95 Q-7.4 7.55 -6.45 7.5 -5.35 7.3 -4.8 6.35 L-4.65 6.1 -2.8 7.25 Q2.55 10.6 4.75 10.6 7.45 10.6 9.2 7.7 10.4 5.8 10.5 4.85"
				fill="#cca9a9"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.1 2.7 L6.25 2.8 Q7.0 3.5 7.05 4.05 L6.7 6.2 Q6.1 8.3 4.65 8.3 1.3 8.3 -0.4 7.1 L1.0 5.5 6.1 2.7 M-14.95 -4.6 L-14.95 -4.65 Q-15.75 -8.45 -14.8 -9.95 L-12.1 -9.75 Q-10.35 -9.1 -8.7 -7.05 L-9.05 -5.65 Q-9.4 -2.5 -10.55 -2.5 -11.85 -2.5 -13.65 -3.7 L-14.95 -4.6"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.0 0.5 L3.35 1.1 5.2 1.85 5.35 1.9 5.5 1.95 5.7 2.05 6.6 2.4 6.7 2.45 6.9 2.5 9.05 3.55 9.7 4.4 9.6 5.05 9.5 5.05 9.55 5.2 9.2 6.0 8.2 7.65 Q6.55 9.95 4.55 9.95 2.55 9.9 0.45 8.6 L0.5 8.6 0.15 8.45 0.0 8.4 -0.95 7.8 -1.9 7.2 -2.9 6.55 -2.7 6.1 -2.7 6.0 -3.05 6.2 -3.3 6.3 -4.05 5.85 -4.15 5.8 -4.15 5.7 Q-4.25 5.0 -0.65 2.3 L2.0 0.5 M6.1 2.7 L1.0 5.5 -0.4 7.1 Q1.3 8.3 4.65 8.3 6.1 8.3 6.7 6.2 L7.05 4.05 Q7.0 3.5 6.25 2.8 L6.1 2.7 M-7.45 -5.8 L-7.1 -5.45 -8.75 -3.05 -9.75 -1.1 Q-10.3 -0.25 -10.95 0.1 L-12.7 -1.5 -13.75 -2.75 -14.5 -3.7 -14.95 -4.6 -13.65 -3.7 Q-11.85 -2.5 -10.55 -2.5 -9.4 -2.5 -9.05 -5.65 L-8.7 -7.05 -8.6 -6.95 -7.45 -5.8"
				fill="#e0cbcb"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.0 0.5 L-0.65 2.3 Q-4.25 5.0 -4.15 5.7 L-4.15 5.8 -8.05 2.8 -10.95 0.1 Q-10.3 -0.25 -9.75 -1.1 L-8.75 -3.05 -7.1 -5.45 -7.45 -5.8 -5.65 -4.3 -2.65 -2.2 0.25 -0.35 2.0 0.5 M-3.3 6.3 L-3.05 6.2 -2.7 6.0 -2.7 6.1 -2.9 6.55 -3.3 6.3 M0.15 8.45 L0.5 8.6 0.45 8.6 0.15 8.45 M9.55 5.2 L9.5 5.05 9.6 5.05 9.55 5.2"
				fill="#f2eaea"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M9.65 -7.25 Q10.6 -6.1 10.7 -5.35 10.8 -4.65 9.5 -3.7 L6.6 -1.95 4.1 -0.2 1.95 1.6 -2.85 6.2 Q-4.95 8.35 -6.6 8.35 -10.3 8.35 -13.4 2.35 -13.5 2.05 -12.65 1.1 L-11.7 -0.1 -11.0 -1.25 -10.75 -1.6 -10.2 -2.25 -6.55 -6.3 -4.3 -8.3 -2.95 -9.4 -1.25 -10.6 Q-0.3 -11.3 1.25 -11.55 2.75 -11.85 4.7 -10.85 L7.65 -9.15 9.65 -7.25 M-9.75 6.25 L-8.4 7.2 -6.7 7.6 Q-5.35 7.6 -3.8 6.15 L-1.35 3.6 1.85 0.75 Q3.95 -1.05 5.8 -2.25 L8.5 -3.9 Q10.15 -4.95 10.0 -5.5 9.9 -6.35 8.85 -7.25 L7.95 -8.05 7.15 -8.55 Q4.35 -10.4 1.4 -10.8 -1.1 -10.1 -4.0 -7.6 L-7.35 -4.45 -10.3 -1.1 -11.75 0.95 -12.7 2.35 Q-11.25 4.9 -9.75 6.25"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.95 -8.05 L5.55 -5.5 Q4.85 -4.85 2.5 -3.35 L-0.85 -1.1 -3.2 1.15 -5.8 3.5 -9.75 6.25 Q-11.25 4.9 -12.7 2.35 L-11.75 0.95 -10.3 -1.1 -7.35 -4.45 -4.0 -7.6 Q-1.1 -10.1 1.4 -10.8 4.35 -10.4 7.15 -8.55 L7.95 -8.05"
				:fill="`url(#${id}-gradient1)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.95 -8.05 L8.85 -7.25 Q9.9 -6.35 10.0 -5.5 10.15 -4.95 8.5 -3.9 L5.8 -2.25 Q3.95 -1.05 1.85 0.75 L-1.35 3.6 -3.8 6.15 Q-5.35 7.6 -6.7 7.6 L-8.4 7.2 -9.75 6.25 -5.8 3.5 -3.2 1.15 -0.85 -1.1 2.5 -3.35 Q4.85 -4.85 5.55 -5.5 L7.95 -8.05"
				fill="#e0cbcb"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0201, 0.0, 0.0017, 0.0201, -20.65, -20.25)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.47843137254901963" stop-color="#ffffff" />
				<stop offset="0.8823529411764706" stop-color="#f2eaea" />
			</radialGradient>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0201, 0.0, 0.0017, 0.0201, -9.6, -16.2)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient1`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.47843137254901963" stop-color="#ffffff" />
				<stop offset="0.8823529411764706" stop-color="#f2eaea" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeChestTattoo0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number,
		id: String
	}
});
</script>
