<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${13.7 * size}px`"
		:width="`${41.65 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${20.8 * size}, ${6.85 * size})`">
			<path
				d="M8.25 1.65 L8.2 1.45 8.15 0.95 7.9 -0.6 Q7.9 -2.35 8.25 -2.95 L8.3 -3.0 8.35 -2.9 Q8.6 -0.6 9.1 0.5 L9.35 0.9 9.1 1.2 8.25 1.65 M0.7 -2.25 L0.55 -1.9 Q0.55 -1.15 1.2 0.1 1.9 1.5 2.65 1.7 L2.75 1.7 2.8 1.55 Q2.8 1.0 1.6 -0.2 L0.7 -2.25 M9.65 1.95 L9.6 1.9 9.75 1.9 9.65 1.95 M14.55 0.65 L14.65 0.65 11.6 3.6 Q8.55 6.05 6.65 6.05 5.15 5.4 5.15 4.95 5.15 4.6 9.2 3.25 L14.55 0.65 M13.05 1.7 L13.0 1.6 9.95 3.35 Q6.4 4.0 6.4 4.65 L6.65 4.95 Q13.05 2.7 13.05 1.7 M10.25 5.55 L12.9 3.5 13.2 3.15 Q14.25 3.65 15.1 3.6 L17.0 3.4 10.35 5.5 10.25 5.55 M1.55 3.1 L1.25 2.25 Q0.2 -1.15 -0.15 -4.7 1.25 -0.8 3.7 2.15 L4.25 2.75 4.5 2.8 3.75 3.0 2.5 3.2 Q2.4 3.05 2.15 3.05 L1.55 3.1 M-17.25 -1.85 L-18.0 -2.6 -18.7 -3.2 -19.2 -3.55 -19.6 -3.9 -20.45 -4.95 -19.9 -5.1 -19.75 -5.15 -16.45 -5.8 -15.8 -5.8 -15.8 -5.7 -16.8 -2.75 -17.25 -1.85 M-12.7 0.9 L-8.9 -1.9 -8.15 -1.9 -8.1 -0.7 -8.6 2.25 Q-10.4 2.2 -11.2 1.5 -12.0 0.75 -12.7 0.9 M-3.5 2.45 L-1.85 -0.25 Q-1.6 0.15 -1.3 2.3 L-1.2 2.9 -1.1 3.25 -1.5 3.15 -2.8 2.7 Q-3.15 2.5 -3.65 2.7 L-3.45 2.5 -3.4 2.35 -3.5 2.45"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.7 -2.25 L1.6 -0.2 Q2.8 1.0 2.8 1.55 L2.75 1.7 2.65 1.7 Q1.9 1.5 1.2 0.1 0.55 -1.15 0.55 -1.9 L0.7 -2.25 M13.05 1.7 Q13.05 2.7 6.65 4.95 L6.4 4.65 Q6.4 4.0 9.95 3.35 L13.0 1.6 13.05 1.7"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M8.25 1.65 L7.6 1.85 Q7.15 1.05 7.15 -0.05 7.15 -1.5 7.8 -3.35 8.4 -5.25 8.9 -3.05 L9.45 -1.1 10.25 0.55 9.35 0.9 9.1 0.5 Q8.6 -0.6 8.35 -2.9 L8.3 -3.0 8.25 -2.95 Q7.9 -2.35 7.9 -0.6 L8.15 0.95 8.2 1.45 8.25 1.65 M9.75 1.9 L11.35 1.1 15.9 -0.95 16.2 -0.95 Q16.35 -1.15 16.4 -0.65 16.4 0.2 13.95 2.55 L18.05 2.2 20.5 1.6 Q20.8 1.55 20.85 1.75 20.35 2.75 16.6 4.25 12.8 5.7 10.8 5.9 L9.7 5.9 Q8.05 6.85 6.9 6.85 4.4 6.85 4.4 5.0 4.4 4.7 5.9 3.85 L6.8 3.4 9.1 2.2 9.65 1.95 9.75 1.9 M14.55 0.65 L9.2 3.25 Q5.15 4.6 5.15 4.95 5.15 5.4 6.65 6.05 8.55 6.05 11.6 3.6 L14.65 0.65 14.55 0.65 M10.25 5.55 L10.35 5.5 17.0 3.4 15.1 3.6 Q14.25 3.65 13.2 3.15 L12.9 3.5 10.25 5.55 M4.5 2.8 L4.25 2.75 3.7 2.15 Q1.25 -0.8 -0.15 -4.7 0.2 -1.15 1.25 2.25 L1.55 3.1 0.65 3.2 Q-0.15 2.15 -0.5 -0.6 -1.05 -4.95 -0.45 -6.1 L3.0 -0.5 Q4.05 1.4 5.2 2.65 L4.5 2.8 M-20.45 -4.95 L-20.8 -5.35 -19.75 -5.95 Q-17.9 -6.85 -16.0 -6.85 -14.8 -6.85 -15.05 -6.25 -15.05 -4.4 -16.4 -1.45 L-17.25 -1.85 -16.8 -2.75 -15.8 -5.7 -15.8 -5.8 -16.45 -5.8 -19.75 -5.15 -19.9 -5.1 -20.45 -4.95 M-12.7 0.9 Q-13.2 0.6 -13.6 0.65 -14.05 0.65 -12.3 -1.0 -10.65 -2.7 -8.45 -2.7 -7.35 -2.7 -7.35 -0.6 L-7.7 2.4 -8.6 2.25 -8.1 -0.7 -8.15 -1.9 -8.9 -1.9 -12.7 0.9 M-1.1 3.25 L-1.2 2.9 -1.3 2.3 Q-1.6 0.15 -1.85 -0.25 L-3.5 2.45 -3.55 2.5 -4.2 2.65 -1.75 -1.25 Q-0.7 -1.25 -0.2 3.5 L-1.1 3.25"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeTailHair1',
	props: {
		size: Number,
		hairFirstColor: String,
		hairBorderColor: String
	}
});
</script>
