<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${26.4 * size}px`"
		:width="`${25.45 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.7 * size}, ${13.2 * size})`">
			<path
				d="M6.2 -9.45 L6.3 -9.25 6.35 -9.2 Q8.25 -6.75 9.15 -4.7 L11.8 1.15 11.75 1.45 11.75 1.6 11.75 2.0 11.8 2.1 11.85 2.15 11.9 2.25 11.95 2.3 12.1 2.4 12.5 2.65 12.65 2.65 12.75 2.65 Q12.65 5.55 11.5 8.1 9.4 13.15 4.15 13.2 -5.65 13.2 -10.1 6.6 -12.75 2.55 -12.7 -1.6 -12.75 -5.15 -11.1 -8.05 L-11.15 -8.05 -11.1 -8.15 -11.1 -8.1 -11.05 -8.25 Q-8.65 -12.25 -3.5 -13.2 L-1.6 -13.2 Q2.0 -13.2 3.0 -12.35 L3.05 -12.35 3.1 -12.3 3.15 -12.2 3.15 -12.15 3.2 -12.1 3.35 -11.85 3.4 -11.8 3.45 -11.75 3.7 -11.5 4.35 -11.45 6.15 -9.55 6.2 -9.45 M4.7 -5.05 L4.75 -4.95 4.7 -5.0 4.7 -5.05 4.7 -5.1 Q2.25 -8.1 -2.05 -8.15 L-2.3 -8.15 Q-4.5 -7.45 -5.2 -6.55 L-5.25 -6.55 -5.5 -6.4 -5.7 -6.2 -5.85 -4.1 Q-5.7 -1.9 -4.7 0.25 -2.45 4.55 2.0 4.5 4.5 4.55 5.7 3.35 6.9 2.15 6.7 -0.2 6.7 -2.4 5.0 -4.6 L4.95 -4.7 4.9 -4.8 4.85 -4.95 4.8 -5.0 4.7 -5.05"
				:fill="tattooColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeArmTattoo1',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		tattooColor: String,
		size: Number
	}
});
</script>
