<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${41.55 * size}px`"
		:width="`${27.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${13.85 * size}, ${20.75 * size})`">
			<path
				d="M7.7 -9.15 Q7.7 -8.65 6.45 -8.4 L4.35 -7.9 Q1.95 -6.75 1.05 -6.75 L0.6 -6.8 0.35 -6.75 0.05 -7.1 -0.7 -8.95 -1.65 -10.8 -2.05 -10.9 Q-3.0 -10.9 -8.9 -7.6 -10.1 -7.6 -12.1 -12.35 L-13.8 -17.1 Q-13.8 -18.15 -10.5 -19.5 -7.35 -20.75 -5.35 -20.75 -3.45 -20.75 -3.45 -19.9 -3.45 -19.55 -7.45 -18.25 -11.8 -16.85 -12.4 -16.45 -9.4 -9.0 -8.75 -9.0 -2.7 -11.8 -2.15 -11.8 L-1.4 -11.6 -1.25 -11.65 Q-0.6 -11.65 0.45 -9.55 L0.85 -7.95 Q1.4 -8.35 2.65 -8.8 5.1 -9.7 7.05 -9.7 7.75 -9.7 7.7 -9.15 M0.25 -14.65 Q-5.55 -12.85 -7.05 -12.85 -7.65 -12.85 -7.6 -13.4 -7.6 -13.7 -4.4 -14.85 -1.15 -16.0 -0.05 -16.0 1.8 -16.0 4.25 -11.8 L4.2 -11.6 3.95 -11.5 Q3.6 -11.5 2.25 -13.05 0.85 -14.65 0.25 -14.65 M1.35 -3.85 Q2.05 -3.85 4.0 0.9 4.0 2.0 -1.15 3.35 -6.3 4.7 -6.3 4.95 -4.25 11.55 -2.35 11.55 -1.35 11.55 -0.05 10.95 1.3 10.35 1.3 9.85 0.3 7.6 0.3 7.1 0.3 5.9 4.55 5.9 6.9 5.9 7.45 10.05 7.45 11.55 7.0 12.6 L6.9 12.6 6.9 11.9 Q6.0 7.05 5.15 7.05 1.95 7.05 1.9 7.5 L2.5 9.85 Q2.5 10.8 1.3 11.75 -0.15 12.85 -2.35 12.85 -5.95 12.85 -7.25 4.95 -7.25 3.2 2.65 0.85 2.4 -0.35 0.85 -3.4 0.85 -3.85 1.35 -3.85 M9.35 -5.3 Q10.05 -5.3 10.7 -4.9 6.7 -4.25 5.85 -3.5 7.9 0.6 7.9 2.15 7.9 3.35 7.6 3.5 L4.3 4.5 Q-1.5 5.85 -1.5 6.55 L-1.2 8.0 Q-1.2 8.7 -1.75 8.7 -2.4 8.7 -2.75 6.2 -2.75 5.1 2.1 3.95 6.95 2.85 6.95 2.4 6.95 1.5 4.4 -3.65 4.4 -4.25 6.15 -4.8 L9.35 -5.3 M9.45 7.45 L9.25 3.4 Q8.65 0.95 11.45 0.95 13.25 0.95 13.25 1.6 13.25 2.05 11.9 2.05 10.5 2.1 10.5 3.4 L10.65 7.15 10.8 10.05 13.85 10.75 Q13.5 11.35 11.75 11.35 9.9 11.35 9.6 10.6 L9.65 9.5 9.45 7.45 M4.15 9.3 Q5.4 9.3 5.5 15.25 L5.3 18.4 Q5.05 19.7 2.9 19.55 0.6 19.3 0.0 20.8 L-0.15 20.8 -0.25 19.9 Q-0.25 18.8 2.0 18.75 4.2 18.75 4.2 17.6 L4.35 15.2 3.8 10.0 Q3.8 9.3 4.15 9.3 M-3.85 -8.1 Q-2.55 -8.1 -0.9 -1.4 -4.4 0.65 -5.95 0.65 -7.25 0.65 -8.05 -2.1 -8.05 -3.2 -7.4 -3.2 -7.05 -3.2 -6.7 -1.75 -6.35 -0.35 -5.9 -0.35 -4.35 -0.35 -1.95 -1.8 -1.95 -3.3 -4.0 -6.7 -11.7 -2.85 -11.7 -2.3 L-10.6 -0.5 Q-9.5 1.1 -9.5 1.75 L-9.3 2.5 -9.4 2.75 -9.45 2.8 -11.1 3.65 Q-12.85 4.45 -13.35 4.45 -13.9 4.45 -13.85 3.85 -13.85 3.25 -10.6 2.35 -11.65 1.2 -13.15 -2.3 -13.15 -3.5 -9.25 -5.55 L-3.85 -8.1"
				:fill="tattooColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeArmTattoo2',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		tattooColor: String,
		size: Number
	}
});
</script>
