<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${24.7 * size}px`"
		:width="`${24.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.15 * size}, ${12.35 * size})`">
			<path
				d="M8.25 -6.3 L5.9 -1.9 Q12.15 3.2 12.15 4.1 L12.1 4.3 11.85 4.45 10.05 3.9 Q8.4 3.25 6.45 3.05 4.45 2.85 3.75 4.55 L2.75 7.35 Q0.95 12.35 0.05 12.35 -0.65 12.35 -2.3 7.05 L-3.3 4.4 Q-3.7 3.75 -8.0 3.6 -12.15 3.45 -12.15 3.0 -12.15 2.35 -7.7 -1.3 -7.1 -1.6 -6.6 -2.0 L-4.9 -3.25 -6.3 -10.15 -6.8 -11.95 -6.65 -12.3 -6.45 -12.35 -6.3 -12.3 -3.75 -10.15 -2.1 -8.6 Q1.8 -4.95 2.4 -4.95 L4.75 -5.9 7.85 -6.75 Q8.25 -6.75 8.25 -6.3 M7.65 -6.35 L4.9 -5.4 2.5 -4.45 2.45 -4.9 2.5 -4.45 2.4 -4.45 Q1.5 -4.45 -1.2 -6.95 L-2.1 -7.75 -4.7 -10.15 -6.1 -11.35 -5.85 -10.15 -4.25 -2.9 -5.55 -2.0 -11.3 2.65 -11.3 2.8 -4.45 3.3 Q-3.05 3.3 -2.3 5.0 L-1.65 7.4 0.15 11.5 Q0.95 10.4 2.55 6.0 3.9 2.35 4.55 2.35 L7.45 2.8 10.3 3.5 11.45 3.7 7.65 0.35 5.5 -1.7 8.0 -6.55 7.95 -6.6 7.65 -6.35"
				fill="#660000"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.65 -6.35 L7.95 -6.6 8.0 -6.55 5.5 -1.7 7.65 0.35 11.45 3.7 10.3 3.5 7.45 2.8 4.55 2.35 Q3.9 2.35 2.55 6.0 0.95 10.4 0.15 11.5 L-1.65 7.4 -2.3 5.0 Q-3.05 3.3 -4.45 3.3 L-11.3 2.8 -11.3 2.65 -5.55 -2.0 -4.25 -2.9 -5.85 -10.15 -6.1 -11.35 -4.7 -10.15 -2.1 -7.75 -1.2 -6.95 Q1.5 -4.45 2.4 -4.45 L2.5 -4.45 2.45 -4.9 2.5 -4.45 4.9 -5.4 7.65 -6.35"
				:fill="tattooColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeArmTattoo3',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		tattooColor: String,
		size: Number
	}
});
</script>
