<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${27.85 * size}px`"
		:width="`${27.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${3.35 * size}, ${22.8 * size})`">
			<path
				d="M14.65 -18.25 L12.2 -17.2 10.7 -16.25 Q12.6 -17.95 14.65 -18.25 M10.05 -15.65 L9.95 -15.4 10.3 -14.05 Q10.4 -13.45 10.8 -12.85 11.6 -11.7 13.05 -11.7 17.7 -11.7 17.7 -15.7 17.4 -17.95 16.4 -18.35 L17.3 -18.45 Q18.15 -18.45 18.85 -17.3 19.1 -17.3 19.25 -17.5 20.35 -17.5 20.5 -15.2 20.5 -14.2 18.8 -12.4 16.75 -10.2 14.6 -10.2 L12.45 -9.85 Q11.45 -9.85 10.55 -10.85 9.85 -11.6 9.85 -11.9 L8.8 -13.0 Q7.75 -13.95 7.75 -14.6 7.75 -15.65 9.05 -15.65 L9.75 -15.35 10.05 -15.65"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.05 -15.75 Q15.0 -16.55 14.0 -16.45 L13.55 -16.45 Q10.4 -16.3 10.4 -15.25 10.4 -13.9 12.25 -13.9 13.1 -13.9 14.15 -14.7 15.05 -15.4 15.05 -15.75 M10.7 -16.25 L12.2 -17.2 14.65 -18.25 15.95 -18.45 16.4 -18.35 Q17.4 -17.95 17.7 -15.7 17.7 -11.7 13.05 -11.7 11.6 -11.7 10.8 -12.85 10.4 -13.45 10.3 -14.05 L9.95 -15.4 10.05 -15.65 10.7 -16.25"
				fill="#3c0b4a"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M16.35 -22.8 Q19.25 -22.8 20.1 -20.4 22.75 -18.7 23.35 -17.65 L23.35 -17.55 Q15.6 -21.05 15.6 -22.1 15.6 -22.8 16.35 -22.8 M-1.4 -3.15 L-1.6 -2.15 Q-0.55 -0.1 -0.55 1.05 -0.55 2.05 -1.1 3.4 -1.9 5.25 -3.15 5.0 L-3.2 4.95 -2.4 3.3 Q-1.9 2.05 -1.9 1.7 -1.9 0.7 -3.3 -2.05 L-2.9 -3.3 -3.35 -4.7 Q-3.3 -5.25 -2.6 -5.25 -1.9 -5.25 -1.4 -3.15"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.35 -7.35 L16.35 -6.2 Q17.15 -5.2 17.85 -5.2 19.0 -5.2 21.2 -7.5 L20.8 -8.3 Q20.8 -10.9 18.9 -10.9 15.35 -10.9 15.35 -7.35 M14.4 -10.7 Q15.95 -12.55 17.5 -12.55 L19.8 -12.05 20.25 -12.15 21.75 -11.5 Q22.65 -10.95 22.75 -10.45 L23.5 -9.4 23.65 -8.55 Q23.65 -6.95 21.7 -4.9 19.85 -2.95 18.65 -2.95 L17.35 -3.3 16.0 -3.2 Q14.9 -3.2 14.9 -4.1 14.8 -4.55 13.7 -5.05 L12.85 -6.85 Q12.85 -8.75 14.4 -10.7"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.35 -7.35 Q15.35 -10.9 18.9 -10.9 20.8 -10.9 20.8 -8.3 L21.2 -7.5 Q19.0 -5.2 17.85 -5.2 17.15 -5.2 16.35 -6.2 L15.35 -7.35"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadHeavyInjury0',
	props: {
		size: Number
	}
});
</script>
