<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${26.3 * size}px`"
		:width="`${33.25 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.55 * size}, ${23.4 * size})`">
			<path
				d="M14.75 -19.85 L15.9 -19.75 Q16.9 -19.65 17.6 -18.1 L18.15 -18.3 Q19.5 -18.1 19.3 -15.25 19.15 -14.0 16.75 -12.05 13.85 -9.7 11.2 -10.05 L8.5 -9.95 Q7.25 -10.15 6.35 -11.5 5.6 -12.55 5.65 -12.9 L4.5 -14.45 Q3.35 -15.8 3.5 -16.6 3.65 -17.9 5.25 -17.65 L6.1 -17.2 6.5 -17.5 6.35 -17.2 6.55 -15.5 Q6.55 -14.75 6.95 -13.9 7.75 -12.4 9.55 -12.15 15.3 -11.4 15.95 -16.3 15.95 -19.15 14.75 -19.85"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M11.9 -19.1 L11.0 -19.2 Q9.75 -19.2 9.4 -18.55 L9.35 -18.55 8.1 -17.85 Q6.5 -17.3 6.5 -16.7 6.5 -15.95 7.75 -15.2 9.3 -14.25 11.65 -14.25 14.9 -14.25 14.9 -17.1 14.9 -18.95 11.9 -19.1 M6.5 -17.5 L7.35 -18.15 Q8.1 -18.55 9.4 -19.05 L12.55 -19.95 14.25 -20.0 14.75 -19.85 Q15.95 -19.15 15.95 -16.3 15.3 -11.4 9.55 -12.15 7.75 -12.4 6.95 -13.9 6.55 -14.75 6.55 -15.5 L6.35 -17.2 6.5 -17.5"
				fill="#3c0b4a"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M14.45 -23.4 Q17.35 -23.4 18.2 -21.0 20.85 -19.3 21.45 -18.25 L21.45 -18.15 Q13.7 -21.65 13.7 -22.7 13.7 -23.4 14.45 -23.4 M-11.55 -8.25 Q-11.55 -8.7 -10.9 -8.75 L-10.3 -9.0 Q-9.6 -9.0 -9.1 -6.9 L-9.3 -5.9 Q-8.25 -3.85 -8.25 -2.7 -8.25 -1.7 -8.8 -0.35 L-8.95 -0.05 Q-8.05 0.85 -8.05 1.55 L-8.3 2.25 Q-8.65 2.9 -9.2 2.9 L-9.6 2.8 -9.65 2.55 -9.15 1.65 -9.75 1.0 -10.85 1.25 -10.9 1.2 -10.1 -0.45 Q-9.6 -1.7 -9.6 -2.05 -9.6 -3.05 -11.0 -5.8 L-10.6 -7.05 -10.8 -7.7 Q-11.65 -7.7 -11.55 -8.25"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M19.25 -7.7 L18.85 -8.5 Q18.85 -11.1 16.95 -11.1 13.4 -11.1 13.4 -7.55 L14.4 -6.4 Q15.2 -5.4 15.9 -5.4 17.05 -5.4 19.25 -7.7 M18.3 -12.35 L19.8 -11.7 Q20.7 -11.15 20.8 -10.65 L21.55 -9.6 21.7 -8.75 Q21.7 -7.15 19.75 -5.1 17.9 -3.15 16.7 -3.15 L15.4 -3.5 14.05 -3.4 Q12.95 -3.4 12.95 -4.3 12.85 -4.75 11.75 -5.25 L10.9 -7.05 Q10.9 -8.95 12.45 -10.9 14.0 -12.75 15.55 -12.75 L17.85 -12.25 18.3 -12.35"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M19.25 -7.7 Q17.05 -5.4 15.9 -5.4 15.2 -5.4 14.4 -6.4 L13.4 -7.55 Q13.4 -11.1 16.95 -11.1 18.85 -11.1 18.85 -8.5 L19.25 -7.7"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadHeavyInjury1',
	props: {
		size: Number
	}
});
</script>
