<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${34.1 * size}px`"
		:width="`${30.6 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.0 * size}, ${24.05 * size})`">
			<path
				d="M12.2 -17.2 L10.7 -16.25 Q12.6 -17.95 14.65 -18.25 L12.2 -17.2"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.95 -18.8 Q8.2 -22.3 8.2 -23.35 8.2 -24.05 8.95 -24.05 11.85 -24.05 12.7 -21.65 15.35 -19.95 15.95 -18.9 L15.95 -18.8 M-11.95 -5.85 L-11.55 -7.1 -12.0 -8.5 Q-11.95 -9.05 -11.25 -9.05 -10.55 -9.05 -10.05 -6.95 L-10.25 -5.95 Q-9.2 -3.9 -9.2 -2.75 -9.2 -1.75 -9.75 -0.4 L-10.15 0.35 -10.15 0.4 -10.55 1.4 -9.0 5.65 Q-9.0 9.75 -10.65 10.05 -9.6 7.95 -9.6 7.15 -9.6 5.2 -10.65 3.7 -11.75 2.2 -11.75 1.45 L-11.75 1.2 -11.8 1.2 -11.85 1.15 -11.7 0.95 -11.25 0.05 -11.05 -0.5 Q-10.55 -1.75 -10.55 -2.1 -10.55 -3.1 -11.95 -5.85"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.2 -13.5 L16.7 -12.85 Q17.6 -12.3 17.7 -11.8 L18.45 -10.75 18.6 -9.9 Q18.6 -8.3 16.65 -6.25 14.8 -4.3 13.6 -4.3 L12.3 -4.65 10.95 -4.55 Q9.85 -4.55 9.85 -5.45 9.75 -5.9 8.65 -6.4 L7.8 -8.2 Q7.8 -10.1 9.35 -12.05 10.9 -13.9 12.45 -13.9 L14.75 -13.4 15.2 -13.5 M16.15 -8.85 L15.75 -9.65 Q15.75 -12.25 13.85 -12.25 10.3 -12.25 10.3 -8.7 L11.3 -7.55 Q12.1 -6.55 12.8 -6.55 13.95 -6.55 16.15 -8.85"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M16.15 -8.85 Q13.95 -6.55 12.8 -6.55 12.1 -6.55 11.3 -7.55 L10.3 -8.7 Q10.3 -12.25 13.85 -12.25 15.75 -12.25 15.75 -9.65 L16.15 -8.85"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.35 -15.85 L7.1 -15.85 Q11.65 -15.85 11.65 -18.65 L11.45 -20.1 12.85 -19.1 13.55 -18.7 13.7 -17.75 Q13.7 -15.95 12.75 -14.95 11.35 -15.75 9.45 -15.75 L6.55 -15.35 6.35 -15.85 M9.05 -19.65 L9.4 -18.65 Q9.4 -17.95 7.1 -17.95 L6.45 -18.05 6.7 -18.3 8.2 -19.25 9.05 -19.65"
				fill="#3c0b4a"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.35 -15.85 L6.55 -15.35 5.7 -15.0 5.2 -14.7 4.8 -15.05 Q3.75 -16.0 3.75 -16.65 L4.0 -17.3 Q4.15 -16.05 6.35 -15.85 M12.75 -14.95 Q13.7 -15.95 13.7 -17.75 L13.55 -18.7 Q15.0 -18.0 16.45 -17.85 L16.5 -17.25 Q16.5 -16.25 14.8 -14.45 L14.15 -13.8 13.2 -14.65 12.75 -14.95"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadHeavyInjury2',
	props: {
		size: Number
	}
});
</script>
