<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${25.2 * size}px`"
		:width="`${47.25 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${25.8 * size}, ${23.4 * size})`">
			<path
				d="M14.75 -19.85 L15.9 -19.75 Q16.9 -19.65 17.6 -18.1 L18.15 -18.3 Q19.5 -18.1 19.3 -15.25 19.15 -14.0 16.75 -12.05 13.85 -9.7 11.2 -10.05 L8.5 -9.95 Q7.25 -10.15 6.35 -11.5 5.6 -12.55 5.65 -12.9 L4.5 -14.45 Q3.35 -15.8 3.5 -16.6 3.65 -17.9 5.25 -17.65 L6.1 -17.2 6.5 -17.5 6.35 -17.2 6.55 -15.5 Q6.55 -14.75 6.95 -13.9 7.75 -12.4 9.55 -12.15 15.3 -11.4 15.95 -16.3 15.95 -19.15 14.75 -19.85"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M12.35 -19.0 L11.0 -19.2 Q9.75 -19.2 9.4 -18.55 L9.35 -18.55 8.1 -17.85 Q6.5 -17.3 6.5 -16.7 6.5 -15.95 7.75 -15.2 9.3 -14.25 11.9 -14.2 14.5 -14.2 13.85 -16.5 13.2 -18.8 12.35 -19.0 M6.5 -17.5 L7.35 -18.15 Q8.1 -18.55 9.4 -19.05 L12.55 -19.95 14.25 -20.0 14.75 -19.85 Q15.95 -19.15 15.95 -16.3 15.3 -11.4 9.55 -12.15 7.75 -12.4 6.95 -13.9 6.55 -14.75 6.55 -15.5 L6.35 -17.2 6.5 -17.5"
				fill="#3c0b4a"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M14.45 -23.4 Q17.35 -23.4 18.2 -21.0 20.85 -19.3 21.45 -18.25 L21.45 -18.15 Q13.7 -21.65 13.7 -22.7 13.7 -23.4 14.45 -23.4 M-24.45 -6.9 Q-25.35 -4.45 -25.75 -4.25 L-25.8 -4.45 -23.0 -10.95 -24.45 -6.9 M-21.35 -11.5 Q-21.55 -10.1 -22.6 -8.2 L-24.45 -4.95 -24.55 -4.95 -24.55 -5.4 -22.95 -8.4 -21.55 -11.5 -21.35 -11.5 M-22.15 -6.25 Q-23.35 -4.2 -23.85 -3.65 L-23.95 -3.7 Q-23.15 -6.0 -20.95 -8.75 L-20.9 -8.6 Q-20.9 -8.3 -22.15 -6.25 M-22.85 -3.5 L-22.9 -3.5 -21.85 -4.75 -22.85 -3.5 M-13.1 -9.85 L-12.5 -10.1 Q-11.8 -10.1 -11.3 -8.0 L-11.5 -7.0 Q-10.45 -4.95 -10.45 -3.8 -10.45 -2.8 -11.0 -1.45 L-11.15 -1.15 Q-10.25 -0.25 -10.25 0.45 L-10.5 1.15 Q-10.85 1.8 -11.4 1.8 L-11.8 1.7 -11.85 1.45 -11.35 0.55 -11.95 -0.1 -13.05 0.15 -13.1 0.1 -12.3 -1.55 -11.8 -3.15 Q-11.8 -4.15 -13.2 -6.9 L-12.8 -8.15 -13.0 -8.8 Q-13.85 -8.8 -13.75 -9.35 -13.75 -9.8 -13.1 -9.85"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M8.7 -7.05 Q8.7 -8.95 10.25 -10.9 11.8 -12.75 13.35 -12.75 L15.65 -12.25 16.1 -12.35 17.6 -11.7 18.6 -10.65 19.35 -9.6 19.5 -8.75 Q19.5 -7.15 17.55 -5.1 15.7 -3.15 14.5 -3.15 L13.2 -3.5 11.85 -3.4 Q10.75 -3.4 10.75 -4.3 10.65 -4.75 9.55 -5.25 L8.7 -7.05 M17.05 -7.7 L16.65 -8.5 Q16.65 -11.1 14.75 -11.1 11.2 -11.1 11.2 -7.55 11.2 -7.25 12.2 -6.4 13.0 -5.4 13.7 -5.4 14.85 -5.4 17.05 -7.7"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.05 -7.7 Q14.85 -5.4 13.7 -5.4 13.0 -5.4 12.2 -6.4 11.2 -7.25 11.2 -7.55 11.2 -11.1 14.75 -11.1 16.65 -11.1 16.65 -8.5 L17.05 -7.7"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadHeavyInjury4',
	props: {
		size: Number
	}
});
</script>
