<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${14.0 * size}px`"
		:width="`${45.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${26.05 * size}, ${11.7 * size})`">
			<path
				d="M16.5 -11.4 Q17.0 -11.4 17.7 -10.9 L18.45 -10.05 19.05 -9.25 19.15 -8.6 Q19.15 -7.35 17.65 -5.75 16.2 -4.2 15.25 -4.2 L14.25 -4.5 13.2 -4.4 Q12.35 -4.4 12.35 -5.1 L11.4 -5.85 10.75 -7.25 Q10.75 -8.75 11.95 -10.25 13.15 -11.7 14.35 -11.7 L16.15 -11.3 16.5 -11.4 M17.25 -7.75 L16.95 -8.4 Q16.95 -10.4 15.45 -10.4 12.7 -10.4 12.7 -7.65 12.7 -7.4 13.45 -6.75 14.1 -5.95 14.65 -5.95 15.55 -5.95 17.25 -7.75"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.25 -7.75 Q15.55 -5.95 14.65 -5.95 14.1 -5.95 13.45 -6.75 12.7 -7.4 12.7 -7.65 12.7 -10.4 15.45 -10.4 16.95 -10.4 16.95 -8.4 L17.25 -7.75"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-21.75 -6.25 L-23.15 -3.75 -23.1 -3.8 -22.45 -3.25 Q-20.75 -6.05 -20.1 -6.05 -19.75 -6.05 -19.75 -5.65 L-21.75 -2.65 -20.75 -1.9 -18.15 -4.9 -18.1 -4.8 Q-18.1 -4.4 -20.1 -1.6 L-21.1 -0.2 -20.35 0.3 -19.75 -0.45 -20.5 -1.0 -20.15 -1.45 -19.4 -0.9 -19.55 -0.7 -18.2 -2.35 -18.1 -2.3 -17.85 -2.1 -18.9 -0.6 -17.5 0.35 -17.65 0.65 Q-18.35 0.45 -19.25 -0.15 L-20.9 1.6 -21.15 1.4 -20.7 0.75 -21.5 0.3 -23.3 2.3 -23.35 2.1 -22.7 0.75 -22.4 0.25 -22.15 -0.1 -23.05 -0.7 -23.45 0.0 -23.5 0.05 -24.55 1.8 -24.7 1.85 -25.0 1.5 -23.65 -1.1 -24.3 -1.6 -25.7 1.1 -26.05 0.95 -25.7 -0.15 -24.7 -1.9 -25.55 -2.5 -25.15 -2.7 -24.4 -2.4 -23.55 -3.8 Q-24.45 -4.8 -24.45 -5.3 L-24.65 -5.75 -24.55 -5.75 Q-24.3 -5.05 -23.4 -4.1 L-21.95 -6.5 -21.75 -6.25 M-23.3 -1.75 L-22.65 -2.9 -23.25 -3.5 -24.0 -2.15 -23.3 -1.75 M-21.05 -1.5 L-21.85 -2.15 -22.0 -2.3 -22.65 -1.3 -22.1 -0.95 -21.7 -0.65 -21.05 -1.5"
				fill="#660000"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadMinorInjury1',
	props: {
		size: Number
	}
});
</script>
