<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${11.5 * size}px`"
		:width="`${25.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${6.6 * size}, ${11.7 * size})`">
			<path
				d="M8.85 -7.2 L9.25 -6.9 9.1 -6.8 8.6 -6.9 8.85 -7.2"
				fill="#660000"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.25 -7.75 L16.95 -8.4 Q16.95 -10.4 15.45 -10.4 12.7 -10.4 12.7 -7.65 12.7 -7.4 13.45 -6.75 14.1 -5.95 14.65 -5.95 15.55 -5.95 17.25 -7.75 M16.5 -11.4 Q17.0 -11.4 17.7 -10.9 L18.45 -10.05 19.05 -9.25 19.15 -8.6 Q19.15 -7.35 17.65 -5.75 16.2 -4.2 15.25 -4.2 L14.25 -4.5 13.2 -4.4 Q12.35 -4.4 12.35 -5.1 L11.4 -5.85 10.75 -7.25 Q10.75 -8.75 11.95 -10.25 13.15 -11.7 14.35 -11.7 L16.15 -11.3 16.5 -11.4"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.25 -7.75 Q15.55 -5.95 14.65 -5.95 14.1 -5.95 13.45 -6.75 12.7 -7.4 12.7 -7.65 12.7 -10.4 15.45 -10.4 16.95 -10.4 16.95 -8.4 L17.25 -7.75"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.2 -2.65 L-1.45 -0.9 -1.7 -1.1 -1.25 -1.75 -2.05 -2.2 -3.85 -0.2 -3.9 -0.4 -3.25 -1.75 -2.95 -2.25 -2.7 -2.6 -3.6 -3.2 -4.0 -2.5 -4.05 -2.45 -5.1 -0.7 -5.25 -0.65 Q-5.55 -0.65 -5.55 -1.0 L-4.2 -3.6 -4.85 -4.1 -6.25 -1.4 -6.6 -1.55 -6.25 -2.65 -5.25 -4.4 -6.1 -5.0 Q-6.0 -5.2 -5.7 -5.2 L-4.95 -4.9 -4.1 -6.3 Q-5.0 -7.3 -5.0 -7.8 L-5.2 -8.25 -5.1 -8.25 Q-4.85 -7.55 -3.95 -6.6 L-2.5 -9.0 -2.3 -8.75 -3.7 -6.25 -3.65 -6.3 -3.0 -5.75 Q-1.3 -8.55 -0.65 -8.55 -0.3 -8.55 -0.3 -8.15 L-2.3 -5.15 -1.3 -4.4 1.3 -7.4 1.35 -7.3 Q1.35 -6.9 -0.65 -4.1 L-1.65 -2.7 -0.9 -2.2 -0.3 -2.95 -1.05 -3.5 -0.7 -3.95 0.05 -3.4 -0.1 -3.2 1.25 -4.85 1.35 -4.8 1.6 -4.6 0.55 -3.1 1.95 -2.15 1.8 -1.85 Q1.1 -2.05 0.2 -2.65 M-2.4 -4.65 L-2.55 -4.8 -3.2 -3.8 -2.65 -3.45 -2.25 -3.15 -1.6 -4.0 -2.4 -4.65 M-3.85 -4.25 L-3.2 -5.4 -3.8 -6.0 -4.55 -4.65 -3.85 -4.25"
				fill="#660000"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadMinorInjury2',
	props: {
		size: Number
	}
});
</script>
