<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${19.65 * size}px`"
		:width="`${8.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.15 * size}, ${-8.5 * size})`">
			<path
				d="M-17.8 12.05 L-17.6 12.0 -17.3 12.1 -17.25 12.3 -20.25 15.2 Q-21.15 15.2 -21.15 12.25 -20.95 8.5 -20.15 8.5 -19.9 8.5 -19.9 8.8 L-20.05 9.9 -20.35 11.35 -20.35 11.4 -20.55 12.25 -20.35 13.95 -20.3 14.4 -18.65 12.6 -18.6 12.6 Q-17.85 12.5 -17.8 12.05 M-15.55 12.05 L-15.6 12.7 -15.6 12.8 -15.6 13.75 -14.75 13.2 -14.45 13.05 -14.3 13.0 -14.0 12.9 -13.95 12.9 Q-13.65 12.9 -13.65 13.25 L-14.55 14.0 Q-15.4 14.55 -15.65 14.55 -16.45 14.55 -16.25 13.8 -16.25 12.0 -15.6 11.9 L-15.55 12.05 M-14.2 27.35 L-13.35 27.2 -13.15 27.35 -13.6 27.85 -15.15 28.15 Q-17.4 28.15 -17.45 26.8 -16.3 23.45 -15.3 23.45 L-15.1 23.7 -15.45 24.55 -16.05 25.6 -16.75 26.75 -16.55 27.1 -15.25 27.45 -15.15 27.45 -15.0 27.45 -14.95 27.45 -14.2 27.35"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-20.05 9.9 Q-19.7 9.9 -19.65 10.45 L-19.7 11.15 -19.15 11.35 -19.5 12.05 -19.25 12.1 -19.6 12.05 -19.55 12.1 -19.9 12.9 -20.35 13.95 -20.55 12.25 -20.35 11.4 -20.35 11.35 -20.05 9.9 M-18.05 11.65 L-17.8 11.95 -17.8 12.05 Q-17.85 12.5 -18.6 12.6 L-18.3 12.55 -18.2 12.3 -18.05 11.75 -18.05 11.65 M-15.55 12.05 L-15.25 12.0 -15.2 12.05 -15.6 12.8 -15.6 12.7 -15.55 12.05 M-14.2 12.75 L-14.0 12.9 -14.3 13.0 -14.2 12.75 M-15.45 24.55 L-15.4 24.55 Q-15.15 24.55 -15.15 24.85 L-15.35 25.6 -15.2 26.15 -16.3 26.65 -16.7 26.9 -16.55 27.1 -16.75 26.75 -16.05 25.6 -15.45 24.55"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-19.15 11.35 L-18.65 11.45 -18.05 11.65 -18.05 11.75 -18.2 12.3 -18.3 12.55 -18.6 12.6 -18.65 12.6 -20.3 14.4 -20.35 13.95 -19.9 12.9 -19.55 12.1 -19.4 12.35 -19.25 12.1 -19.5 12.05 -19.15 11.35 M-15.6 12.8 L-15.2 12.05 -14.2 12.75 -14.3 13.0 -14.45 13.05 -14.75 13.2 -15.6 13.75 -15.6 12.8 M-15.2 26.15 L-14.2 27.35 -14.95 27.45 -15.0 27.45 -15.15 27.45 -15.25 27.45 -16.55 27.1 -16.7 26.9 -16.3 26.65 -15.2 26.15"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmSpecial0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
